<div class="row">
    {% for type, entries in board %}
        <div class="col-sm-3 card">
            <div class="card-header">
                <h5>{{ type|u.snake|replace({'_': ' '})|title }}</h5>
            </div>
            <table>
                {% for entry in entries %}
                    <tr>
                        <td>
                            {% if entry.user.avatarEncoded %}
                                <img src="{{ entry.user.avatarEncoded }}" height="24" alt="Avatar">&nbsp;
                            {% endif %}
                            {{ entry.agent.nickname }}
                        </td>
                        <td class="text-right text-monospace">
                            {% if 'Fields/Links' == type  or 'Links/Fields' == type %}
                                {{ entry.value|number_format(2, '.', ',') }}
                            {% else %}
                                {{ entry.value|number_format }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
</div>


