{% extends 'base.html.twig' %}

{% block title %}TestStat index{% endblock %}

{% block body %}
    <h1>TestStat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
                <th>Csv</th>
            </tr>
        </thead>
        <tbody>
        {% for test_stat in test_stats %}
            <tr>
                <td>{{ test_stat.id }}</td>
                <td>
                    <a href="{{ path('test_stat_show', {'id': test_stat.id}) }}">show</a>
                    <a href="{{ path('test_stat_edit', {'id': test_stat.id}) }}">edit</a>
                </td>
                <td>
                    <pre>{{ test_stat.csv }}</pre>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('test_stat_new') }}">Create new</a>
{% endblock %}
