{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Help'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('helper/editor') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('helper/editor') }}
{% endblock %}

{% block body %}
    <div class="btn-group float-right">
        <a class="btn btn-outline-secondary" href="{{ path('help_index') }}" title="{{ 'Back to list'|trans }}">
            <span class="oi oi-arrow-left">
        </a>
        {{ include('help/_delete_form.html.twig') }}
    </div>

    <h1>{{ 'Edit Help'|trans }}</h1>

    {{ include('help/_form.html.twig', {'button_label': 'Update'|trans}) }}

{% endblock %}
