{% extends 'base.html.twig' %}

{% block title %}{{ 'Help index'|trans }}{% endblock %}

{% block body %}
    {% if is_granted('ROLE_EDITOR') %}
        <a href="{{ path('help_new') }}" class="float-right btn btn-outline-success" title="{{ 'Create new'|trans }}">
            <span class="oi oi-plus"></span>
        </a>
    {% endif %}


    <h1>{{ 'Help index'|trans }}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>{{ 'Title'|trans }}</th>
            {% if is_granted('ROLE_EDITOR') %}
                <th>{{ 'Actions'|trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for help in helps %}
            <tr>
                <td>
                    <a href="{{ path('help_show2', {'slug': help.slug}) }}">{{ help.title }}</a>
                </td>
                {% if is_granted('ROLE_EDITOR') %}
                    <td>
                        <a href="{{ path('help_edit', {'id': help.id}) }}">{{ 'Edit'|trans }}</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="alert alert-warning">{{ 'No records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
