{% extends 'base.html.twig' %}

{% block title %}{{ 'New Help'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('editor') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('editor') }}
{% endblock %}

{% block body %}
    <a class="btn btn-outline-secondary float-right" href="{{ path('help_index') }}" title="{{ 'Back to list'|trans }}">
        <span class="oi oi-arrow-left">
    </a>

    <h1>{{ 'Create new Help'|trans }}</h1>

    {{ include('help/_form.html.twig') }}
{% endblock %}
