{% extends 'base.html.twig' %}

{% block title %}{{ 'Help'|trans }}{% endblock %}

{% block body %}
    {% if is_granted('ROLE_EDITOR') %}
        <div class="btn-group float-right">
            <a class="btn btn-info" href="{{ path('help_edit', {'id': help.id}) }}">{{ 'Edit'|trans }}</a>
            {{ include('help/_delete_form.html.twig') }}
        </div>
    {% endif %}

    <h2>{{ help.title }}</h2>

    {{ help.text|md2html }}
{% endblock %}
