{% import '_/buttons.html.twig' as buttons %}

<form id="commentForm" method="post" action="{{ path('agent_add_comment', {'id': agent.id}) }}"
        {{ stimulus_target('agent--show', 'commentForm') }}
>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#writeId" data-bs-toggle="tab" title="{{ 'label.write'|trans }}">
                <span class="oi oi-pencil"></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#previewId" data-bs-toggle="tab" title="{{ 'label.preview'|trans }}">
                <span class="oi oi-eye"></span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="writeId">
            <textarea name="comment" id="comment_text" cols="30" rows="5" class="mentionable form-control"
            {{ stimulus_target('agent--show', 'commentText') }}
            ></textarea>
        </div>
        <div class="tab-pane" id="previewId"></div>
    </div>

    <div {{ stimulus_target('agent--show', 'commentMessage') }}></div>

    <input type="hidden" name="commenter" value="{{ app.user.id }}">
    <input type="hidden" name="_method" value="POST">
    <input type="hidden" name="_token" value="{{ csrf_token('addcomment' ~ agent.id) }}">
    {{ buttons.ok() }}
</form>
