{% import '_/buttons.html.twig' as buttons %}

<form id="commentForm" method="post" action="{{ path('agent_add_comment', {'id': agent.id}) }}"
        {{ stimulus_target('agent--show', 'commentForm') }}
>

    <div id="tinymde_commandbar"></div>
    <textarea name="comment" id="comment_text" cols="30" rows="5" class="mentionable form-control"></textarea>

    <div {{ stimulus_target('agent--show', 'commentMessage') }}></div>

    <input type="hidden" name="commenter" value="{{ app.user.id }}">
    <input type="hidden" name="_method" value="POST">
    <input type="hidden" name="_token" value="{{ csrf_token('addcomment' ~ agent.id) }}">
    {{ buttons.ok() }}
</form>

<!-- Modal -->
<div class="modal fade" id="previewModal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body" data-agent--show-target="preview">
                ...
            </div>
        </div>
    </div>
</div>