{{ form_start(form) }}

{{ form_row(form.nickname) }}

<div class="row">
    <div class="col-sm">
        {{ form_row(form.faction) }}
    </div>
    <div class="col-sm">
        {{ form_row(form.recursions) }}
    </div>
</div>

{{ form_row(form.real_name) }}
{{ form_row(form.mapGroup) }}

<div id="map"></div>

<button class="btn btn-success">{{ button_label|default('Guardar') }}</button>

{{ form_widget(form.lat, { 'attr':{'style':'visibility: hidden;'} }) }}
    {{ form_widget(form.lon, { 'attr':{'style':'visibility: hidden;'} }) }}
    {{ form_widget(form.customMedals, { 'attr':{'style':'visibility: hidden;'} }) }}

    {{ form_rest(form) }}

{{ form_end(form) }}
