{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Agent'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map-edit') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map-edit') }}
{% endblock %}

{% block body %}
    <a class="btn btn-outline-secondary float-right" href="{{ path('agent_index') }}"
       title="{{ 'Back to list'|trans }}">
            <span class="oi oi-arrow-left">
    </a>
    <h1>{{ 'Edit Agent'|trans }}</h1>

    {{ include('agent/_form.html.twig', {'button_label': 'Actualizar'}) }}

{% endblock %}
