{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Agent'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map-edit') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map-edit') }}
{% endblock %}

{% block body %}
    <h1>{{ 'Edit Agent'|trans }}</h1>

    <div class="btn-group" role="group">

        <a class="btn btn-secondary" href="{{ path('agent_index') }}">{{ 'Back to list'|trans }}</a>

        {{ include('agent/_delete_form.html.twig') }}
    </div>
    {{ include('agent/_form.html.twig', {'button_label': 'Actualizar'}) }}


{% endblock %}
