{% extends 'base.html.twig' %}

{% block title %}Edit Agent{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map-edit') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map-edit') }}
{% endblock %}

{% block body %}
    <h1>Editar Agente</h1>

    {{ include('agent/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <div class="btn-group" role="group">

    <a class="btn btn-secondary" href="{{ path('agent_index') }}">Regresar</a>

    {{ include('agent/_delete_form.html.twig') }}
</div>

{% endblock %}
