{% extends 'base.html.twig' %}

{% block title %}Agent index{% endblock %}

{% block body %}
    <h1>Agent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nickname</th>
                <th>Faction</th>
                <th>Real_name</th>
                <th>Position</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agent in agents %}
            <tr>
                <td>{{ agent.id }}</td>
                <td>{{ agent.nickname }}</td>
                <td>{{ agent.faction.name }}</td>
                <td>{{ agent.realName }}</td>
                <td>{{ agent.lat }}, {{ agent.lon }}</td>
                <td>
                    <a href="{{ path('agent_show', {'id': agent.id}) }}">show</a>
                    <a href="{{ path('agent_edit', {'id': agent.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('agent_new') }}">Create new</a>
{% endblock %}
