{% extends 'base.html.twig' %}
{% import '_/buttons.html.twig' as buttons %}

{% block title %}{{ 'Agent index'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('vue/agents') }}
{% endblock %}

{% block javascripts %}
    <script>
        window.translations = {
            "searchbar.placeholder": "{{ 'searchbar.placeholder.agent'|trans }}",
            "search.result.0": '{{ 'search.result.agent.0'|trans }}',
            "search.result.1": '{{ 'search.result.agent.1'|trans }}',
            "search.result.other": '{{ 'search.result.agent.other'|trans }}',
            "no.search.result.criteria": '{{ 'no.agents.found.search.criteria'|trans }}',
            "paginate.previous.page": '{{ 'paginate.previous.page'|trans }}',
            "paginate.next.page": '{{ 'paginate.next.page'|trans }}',
        }
    </script>
    {{ parent() }}
    {{ encore_entry_script_tags('vue/agents') }}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_EDITOR') %}
        <div class="float-right">
            {{ buttons.new(path('agent_new')) }}
        </div>
    {% endif %}

    <h1>{{ 'Agent index'|trans }}</h1>

    <div id="app"></div>
{% endblock %}

