{% trans_default_domain 'agent' %}

{% extends 'base.html.twig' %}

{% block title %}{{ 'New Agent'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map-edit') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map-edit') }}
{% endblock %}

{% block body %}
    <a class="float-right btn btn-outline-secondary" href="{{ path('agent_index') }}">{{ 'Go Back'|trans }}</a>

    <h1>{{ 'Create new Agent'|trans }}</h1>

    {{ include('agent/_form.html.twig') }}


{% endblock %}
