{% trans_default_domain 'agent' %}
{% import '_/buttons.html.twig' as buttons %}

{% extends 'base.html.twig' %}

{% block title %}{{ 'New Agent'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map-edit') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map-edit') }}
{% endblock %}

{% block body %}
    <div class="float-right">
        {{ buttons.back(path('agent_index')) }}
    </div>

    <h1>{{ 'Create new Agent'|trans }}</h1>

    {{ include('agent/_form.html.twig') }}

{% endblock %}
