{% extends 'base.html.twig' %}

{% block title %}Agent{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map') }}
    {{ encore_entry_script_tags('comment') }}
{% endblock %}

{% block body %}
    <h1>Agent</h1>

    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-secondary" href="{{ path('agent_index') }}">Regresar</a>
        {% if is_granted('ROLE_EDITOR') %}
            <a class="btn btn-info" href="{{ path('agent_edit', {'id': agent.id}) }}">Editar</a>
            {{ include('agent/_delete_form.html.twig') }}
        {% endif %}
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td id="js-agent-id">{{ agent.id }}</td>
        </tr>
        <tr>
            <th>{{ 'Nickname'|trans }}</th>
            <td>{{ agent.nickname }}</td>
        </tr>
        <tr>
            <th>{{ 'Faction'|trans }}</th>
            <td>{{ agent.faction.name }}</td>
        </tr>
        <tr>
            <th>{{ 'Real name'|trans }}</th>
            <td>{{ agent.realName }}</td>
        </tr>
        <tr>
            <th>{{ 'Position'|trans }}</th>
            <td>
                <div class="js-agent-coords" data-lat="{{ agent.lat }}"  data-lon="{{ agent.lon }}">
                {% if agent.lat and agent.lon %}
                {{ agent.lat }}, {{ agent.lon }}
                <div id="map"></div>
                    {% else %}
                    {{ 'Unknown'|trans }}
                    {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ 'Comments'|trans }}</th>
            <td>
                <div id="commentArea"></div>
                <div id="commentStatus"></div>
            </td>
        </tr>

        </tbody>
    </table>

    {% if is_granted('ROLE_EDITOR') %}
        <h3>{{ 'Add Comment'|trans }}</h3>
        {{ include('agent/_add_comment_form.html.twig') }}
    {% endif %}

{% endblock %}
