{% trans_default_domain 'agent' %}

{% extends 'base.html.twig' %}

{% block title %}{{ 'Agent'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map') }}
    {{ encore_entry_script_tags('comment') }}
{% endblock %}

{% block body %}
    <span id="js-agent-id" data-js-agent-id="{{ agent.id }}"></span>

    <h1>{{ 'Agent'|trans }}</h1>

    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-secondary" href="{{ path('agent_index') }}">{{ 'Go Back'|trans }}</a>
        {% if is_granted('ROLE_EDITOR') %}
            <a class="btn btn-info" href="{{ path('agent_edit', {'id': agent.id}) }}">{{ 'Edit'|trans }}</a>
            {{ include('agent/_delete_form.html.twig') }}
        {% endif %}
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'Nickname'|trans }}</th>
            <td class="alert-{% if 'RES' == agent.faction.name %}info{% else %}success{% endif %}">
                <code>{{ agent.nickname }}</code>
            </td>
        </tr>
        <tr>
            <th>{{ 'Faction'|trans }}</th>
            <td>{{ agent.faction.name }}</td>
        </tr>
        <tr>
            <th>{{ 'Real name'|trans }}</th>
            <td>{{ agent.realName }}</td>
        </tr>
        <tr>
            <th>{{ 'Position'|trans }}</th>
            <td>
                <span class="js-agent-coords" data-lat="{{ agent.lat }}" data-lon="{{ agent.lon }}"></span>
                {% if agent.lat and agent.lon %}
{#                {{ agent.lat }}, {{ agent.lon }}#}
                <div id="map"></div>
                    {% else %}
                    {{ 'Unknown'|trans }}
                    {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ 'Comments'|trans }}</th>
            <td>
                <div id="commentArea"></div>
                <div id="commentStatus"></div>
            </td>
        </tr>

        </tbody>
    </table>

    {% if is_granted('ROLE_EDITOR') %}
        <h3>{{ 'Add Comment'|trans }}</h3>
        {{ include('agent/_add_comment_form.html.twig') }}
    {% endif %}

{% endblock %}
