{% trans_default_domain 'agent' %}

{% extends 'base.html.twig' %}

{% block title %}{{ 'Agent'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map') }}
    {{ encore_entry_link_tags('comment') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map') }}
    {{ encore_entry_script_tags('comment') }}
    {{ encore_entry_script_tags('editor') }}
{% endblock %}

{% block body %}
    <span id="js-agent-id" data-js-agent-id="{{ agent.id }}"></span>
    <span id="js-data"
          data-lookup-url="{{ path('agent_lookup') }}"
          data-preview-url="{{ path('markdown_preview') }}"
          data-preview-field="#previewId"
          data-editor-field="#comment_text"
    >
    </span>

    <div class="btn-group float-right" role="group">
        <a title="{{ 'Go Back'|trans }}" class="btn btn-outline-secondary" href="{{ path('agent_index') }}"><span
                    class="oi oi-arrow-left"></a>
        {% if is_granted('ROLE_EDITOR') %}
            <a title="{{ 'Edit'|trans }}" class="btn btn-outline-info"
               href="{{ path('agent_edit', {'id': agent.id}) }}"><span class="oi oi-pencil"></a>
            {{ include('agent/_delete_form.html.twig') }}
        {% endif %}
        <a title="{{ 'Statistics'|trans }}" class="btn btn-outline-success"
           href="{{ path('agent_stats', {'id': agent.id}) }}"><span class="oi oi-graph"></span></a>
    </div>

    <h1>{{ 'Agent'|trans }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'Nickname'|trans }}</th>
            <td class="alert-{% if 'RES' == agent.faction.name %}info{% else %}success{% endif %}">
                <img src="{{ asset('build/images/logos/'~agent.faction.name~'.svg') }}" style="height: 32px" alt="logo">
                <code>{{ agent.nickname }}</code>
            </td>
        </tr>
        {% if agent.realName %}
            <tr>
                <th>{{ 'Real name'|trans }}</th>
                <td>{{ agent.realName }}</td>
            </tr>
        {% endif %}
        {% if agent.telegramId %}
            <tr>
                <th>{{ 'Telegram contact'|trans }}</th>
                <td>
                    <a href="https://t.me/{{ agent.telegramName }}">@{{ agent.telegramName }}</a>
                    {% if is_granted('ROLE_EDITOR') %}
                        Notifications:
                        <code title="Events" class="helpIndicator">{{ agent.hasNotifyEvents ? 1 : 0 }}</code>
                        <code title="StatsResults" class="helpIndicator">{{ agent.hasNotifyStatsResult ? 1 : 0 }}</code>
                        <code title="Upload Reminder"
                              class="helpIndicator">{{ agent.hasNotifyUploadStats ? 1 : 0 }}</code>
                    {% endif %}

                </td>
            </tr>
        {% endif %}
        <tr>
            <th>{{ 'Position'|trans }}</th>
            <td>
                <span class="js-agent-coords" data-lat="{{ agent.lat }}" data-lon="{{ agent.lon }}"></span>
                {% if agent.lat and agent.lon %}
                    <div id="map"></div>
                {% else %}
                    {{ 'Unknown'|trans }}
                {% endif %}
            </td>
        </tr>
        {% if is_granted('ROLE_EDITOR') %}
            <tr>
                <th>{{ 'Comments'|trans }}</th>
                <td>
                    <div id="commentArea"></div>
                    <div id="commentStatus"></div>
                </td>
            </tr>
        {% endif %}

        </tbody>
    </table>

    {% if is_granted('ROLE_EDITOR') %}
        <h3>{{ 'Add Comment'|trans }}</h3>
        {{ include('agent/_add_comment_form.html.twig') }}
    {% endif %}

{% endblock %}
