{% extends 'base.html.twig' %}

{% block title %}{{ 'My Profile'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('account') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('account') }}
{% endblock %}

{% block body %}
    <h3>{{ 'My Profile'|trans }}</h3>
    {% if message %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endif %}
    <div class="card">
        <div class="card-header">
            {{ 'Agent: {agent_name}'|trans({'{agent_name}': '<code>'~agent.nickname~'</code>' })|raw }}

        </div>

        <div class="card-body">
            {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            {{ form_row(form.real_name) }}

            <label for="map">{{ 'Meeting point'|trans }}</label>
            <div id="map"></div>
            {% if agent.hasMap %}
                <div class="alert alert-success">
                    {{ 'account.map.added.success'|trans }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    {{ 'account.map.added.warning'|trans }}
                </div>
            {% endif %}


        </div>
        <div class="card-footer">
            <button class="btn btn-success">{{ 'Update profile'|trans }}</button>
        </div>
    </div>
    {{ form_widget(form.lat, { 'attr':{'style':'visibility: hidden;'} }) }}
    {{ form_widget(form.lon, { 'attr':{'style':'visibility: hidden;'} }) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
