{% extends 'base.html.twig' %}

{% block title %}{{ 'My Profile'|trans }} {{ agent.nickname }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('traditional/account/index') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('traditional/account/index') }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-2">
            <img src="{{ app.user.avatarEncoded }}" height="100" alt="Avatar"><br>
            <div class="btn btn-sm btn-outline-warning" onclick="alert('Not yet...')">Update Avatar</div>
        </div>
        <div class="col-sm-10">
            <h1>{{ 'My Profile'|trans }}</h1>
            <h3>
                {{ 'Agent: {agent_name}'|trans({'{agent_name}': '<code>'~agent.nickname~'</code>' })|raw }}
            </h3>
        </div>
    </div>

    {% if message %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <h4>{{ 'Personal information'|trans }}</h4>

    {{ form_row(form.real_name) }}

    <h4>{{ 'Meeting point'|trans }}</h4>

    <div class="alert alert-warning">
        {{ 'Please move the marker to your meeting point location'|trans }}
    </div>

    <div id="map"></div>

    {% if agent.mapGroup %}
        <div class="alert alert-success">
            {{ 'account.map.added.group'|trans({'group': agent.mapGroup.name}) }}
        </div>
    {% else %}
        <div class="alert alert-warning">
            {{ 'account.map.added.warning'|trans }}
        </div>
    {% endif %}

    <h4>{{ 'Custom medals'|trans }}</h4>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        {% for group, medals in customMedals %}
            <li class="nav-item">
                <a class="nav-link {{ group == 'Anomaly' ? 'active' : '' }}" id="{{ group }}-tab" data-toggle="tab"
                   href="#{{ group }}" role="tab" aria-controls="home" aria-selected="true">{{ group }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content" id="myTabContent">
        {% for group, medals in customMedals %}
            <div class="tab-pane fade {{ group == 'Anomaly' ? 'show active' : '' }}" id="{{ group }}" role="tabpanel"
                 aria-labelledby="{{ group }}-tab">
                <div class="row">
                    {% for medal, tiers in medals %}
                        <div class="col">
                            {% set selectedValue = 0 %}
                            {% if agentCustomMedals[group][medal] is defined %}
                                {% set selectedValue = agentCustomMedals[group][medal] %}
                            {% endif %}
                            {% if tiers is empty %}
                                {# Annual #}
                                {{ medal }}<br>
                                {% for i in 1..5 %}
                                    {% set checked = i == selectedValue ? ' checked="checked"' : '' %}
                                    <label data-for="{{ 'medal-'~group~medal~i }}" class="medalsLabel">
                                        <span class="medal50-badges medal-{{ getBadgePath(medal, i, 0, '') }}"
                                              title="{{ medal~' - '~i|translateMedalLevel }}"></span>
                                    </label>
                                    <input type="radio" name="customMedals[{{ group }}][{{ medal }}]"
                                           id="{{ 'medal-'~group~medal~i }}"
                                           value="{{ i }}" class="hiddenCheckBox"
                                            {{ checked }}>
                                {% endfor %}
                            {% else %}
                                {% if 'Anomaly' == group %}
                                    {% set checked = agentCustomMedals['Anomaly'][tiers] is defined ? ' checked="checked"' : '' %}
                                    <label data-for="{{ 'medal-'~group~medal }}" class="medalLabel">
                                        <span class="medal50-events medal-Anomaly_{{ tiers }}"
                                              title="{{ tiers }}"></span>
                                        <br>{{ tiers|u.snake|replace({'_': ' '})|title }}
                                    </label>
                                    <input type="radio" name="customMedals[{{ group }}][{{ tiers }}]"
                                           id="{{ 'medal-'~group~medal }}"
                                           value="1" class="hiddenCheckBox"
                                            {{ checked }}>
                                {% elseif 'Event' == group %}

                                    {% for tier in tiers %}
                                        {% set name = '' == tier ? '' : '_'~tier %}
                                        {% set checked = agentCustomMedals['Event'][medal] is defined and tier == agentCustomMedals['Event'][medal] ? ' checked="checked"' : '' %}
                                        <label data-for="{{ 'medal-'~group~medal~tier }}" class="medalsLabel">
                                            {% if 'AvenirShard' == medal %}
                                                <span class="medal50-events medal-UniqueBadge_AvenirShardChallenge"
                                                      title="Avenir Shard Challenge"></span>
                                            {% elseif 'Paragon' == medal %}
                                                <span class="medal50-events medal-UniqueBadge_Paragon"
                                                      title="Paragon Challenge"></span>
                                            {% elseif 'KnightTessellation' == medal %}
                                                <span class="medal50-badges medal-Badge_{{ medal }}_{{ tier }}"
                                                      title="{{ medal~' '~tier }}"></span>
                                            {% elseif 'KineticChallenge' == medal %}
                                                <span class="medal50-badges medal-Badge_{{ medal }}_{{ tier }}"
                                                      title="{{ medal~' '~tier }}"></span>
                                            {% elseif 'CourierChallenge' == medal %}
                                                <span class="medal50-badges medal-Badge_{{ medal }}_{{ tier }}"
                                                      title="{{ medal~' '~tier }}"></span>
                                            {% else %}
                                                <span class="medal50-events medal-EventBadge_{{ medal~name }}"
                                                      title="{{ medal~' '~tier }}"></span>
                                            {% endif %}
                                        </label>
                                        <input type="radio" name="customMedals[{{ group }}][{{ medal }}]"
                                               id="{{ 'medal-'~group~medal~tier }}"
                                               value="{{ tier }}" class="hiddenCheckBox"
                                                {{ checked }}>
                                    {% endfor %}
                                    <br>
                                    {{ medal|u.snake|replace({'_': ' '})|title }}
                                {% else %}
                                    @TODO {{ group }}
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <h4><a id="telegram"></a>Telegram</h4>
    {% if agent.telegramId %}
        <h5>{{ 'Notifications'|trans }}</h5>
        {{ form_row(form.hasNotifyUploadStats, {label_attr: {class: 'switch-custom'}}) }}
        {{ form_row(form.hasNotifyStatsResult, {label_attr: {class: 'switch-custom'}}) }}
        {{ form_row(form.hasNotifyEvents, {label_attr: {class: 'switch-custom'}}) }}
        <a class="btn btn-outline-warning btn-sm" href="{{ path('tg_disconnect') }}">
            {{ 'Disconnect from Telegram - {agent}'|trans({'agent': agent.telegramName}) }}
        </a>
    {% else %}
        <a class="btn btn-success" href="{{ telegramConnectLink }}" target="_blank">
            {{ 'Connect to Telegram'|trans }}
        </a>
    {% endif %}

    <hr>

    <h4>{{ 'Web site settings'|trans }}</h4>
    <div class="row">
        <div class="col-sm">
            {{ form_row(form.locale) }}
        </div>
        <div class="col-sm">
{#            {{ 'Dark mode'|trans }} - TBD#}
        </div>
    </div>
    <hr>

    <button class="btn btn-outline-success">{{ 'Update profile'|trans }}</button>
    {{ form_widget(form.lat, { 'attr':{'style':'visibility: hidden;'} }) }}
    {{ form_widget(form.lon, { 'attr':{'style':'visibility: hidden;'} }) }}
    {{ form_widget(form.customMedals, { 'attr':{'style':'visibility: hidden;'} }) }}
    {% if not agent.telegramId %}
        <div style="visibility: hidden">
            {{ form_row(form.hasNotifyUploadStats) }}
            {{ form_row(form.hasNotifyStatsResult) }}
            {{ form_row(form.hasNotifyEvents) }}
        </div>
    {% endif %}
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
