{% extends 'base.html.twig' %}

{% block title %}{{ 'My Profile'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('account') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('account') }}
{% endblock %}

{% block body %}
    <h3>{{ 'My Profile'|trans }}</h3>
    {% if message %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endif %}
    <div class="card">
        <div class="card-header">
            {{ 'Agent: {agent_name}'|trans({'{agent_name}': '<code>'~agent.nickname~'</code>' })|raw }}
        </div>

        <div class="card-body">
            {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            <h4>{{ 'Personal information'|trans }}</h4>

            {{ form_row(form.real_name) }}

            <label for="map">{{ 'Meeting point'|trans }}</label>

            <div id="map"></div>

            {% if agent.mapGroup %}
                <div class="alert alert-success">
                    {{ 'account.map.added.group'|trans({'group': agent.mapGroup.name}) }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    {{ 'account.map.added.warning'|trans }}
                </div>
            {% endif %}

            <h4>{{ 'Agent data'|trans }}</h4>

            {{ form_row(form.recursions) }}

            {% for group, medals in customMedals %}
                <h4>{{ group }}</h4>
                <div class="row">
                    {% for medal, tiers in medals %}
                        <div class="col border">
                            {% set selectedValue = 0 %}
                            {% if agentCustomMedals[group][medal] is defined %}
                                {% set selectedValue = agentCustomMedals[group][medal] %}
                            {% endif %}
                            {% if tiers is empty %}
                                {# Annual #}
                                {% for i in 1..5 %}
                                    {% set checked = i == selectedValue ? ' checked="checked"' : '' %}
                                    <label for="{{ 'medal-'~group~medal~i }}">
                                        <span class="medal50 medal-{{ getBadgePath(medal, i, 0, '') }}"
                                              title="{{ medal~' - '~i|translateMedalLevel }}"></span>
                                    </label>
                                    <input type="radio" name="customMedals[{{ group }}][{{ medal }}]"
                                           id="{{ 'medal-'~group~medal~i }}"
                                           value="{{ i }}"{{ checked }}>
                                {% endfor %}
                            {% else %}
                                {% if 'Anomaly' == group %}
                                    {% set checked = agentCustomMedals['Anomaly'][tiers] is defined ? ' checked="checked"' : '' %}
                                    <label for="{{ 'medal-'~group~medal }}">
                                        <span class="medal50 medal-Anomaly_{{ tiers }}" title="{{ tiers }}"></span>
                                    </label>
                                    <input type="radio" name="customMedals[{{ group }}][{{ tiers }}]"
                                           id="{{ 'medal-'~group~medal }}"
                                           value="1"{{ checked }}>
                                {% elseif 'Event' == group %}
                                    {% for tier in tiers %}
                                        {% set name = '' == tier ? '' : '_'~tier %}
                                        {% set checked = agentCustomMedals['Event'][medal] is defined and tier == agentCustomMedals['Event'][medal] ? ' checked="checked"' : '' %}
                                        <label for="{{ 'medal-'~group~medal~tier }}">
                                            {% if 'AvenirShard' == medal %}
                                                <span class="medal50 medal-UniqueBadge_AvenirShardChallenge"
                                                      title="Avenir Shard Challenge"></span>
                                            {% else %}
                                                <span class="medal50 medal-EventBadge_{{ medal~name }}"
                                                      title="{{ medal~' '~tier }}"></span>
                                            {% endif %}
                                        </label>
                                        <input type="radio" name="customMedals[{{ group }}][{{ medal }}]"
                                               id="{{ 'medal-'~group~medal~tier }}"
                                               value="{{ tier }}"{{ checked }}>
                                    {% endfor %}
                                {% else %}
                                    @TODO {{ group }}
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div class="card-footer">
            <div id="resetCustomMedals" class="btn btn-outline-warning float-right">{{ 'Reset custom Medals'|trans }}</div>
            <button class="btn btn-outline-success">{{ 'Update profile'|trans }}</button>
        </div>
    </div>
    {{ form_widget(form.lat, { 'attr':{'style':'visibility: hidden;'} }) }}
    {{ form_widget(form.lon, { 'attr':{'style':'visibility: hidden;'} }) }}
    {{ form_widget(form.customMedals, { 'attr':{'style':'visibility: hidden;'} }) }}

    {{ form_rest(form) }}

    {{ form_end(form) }}
{% endblock %}
