{% extends 'base.html.twig' %}

{% block title %}4E Events - {{ event.name }}{% endblock %}
{% block og_description %}4E Events - {{ event.name }}{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('events') }}
{% endblock %}

{% block body %}

    <h1>{{ event.name }}</h1>

    <h4>
        {{ event.dateStart ? event.dateStart|date('Y-m-d H:i:s') : '' }}
        - {{ event.dateEnd ? event.dateEnd|date('Y-m-d H:i:s') : '' }}
    </h4>

    {% if 'past' == status %}
        <h4>{{ 'Final results'|trans }}</h4>
    {% else %}

        <div id="clockdiv" class="text-center alert alert-warning">
            {% if 'current' == status %}
                <b>{{ 'The event ends in'|trans }}</b>
                <span id="js-data"
                      data-deadline="{{ event.dateEnd ? event.dateEnd|date('Y-m-d H:i:s') : '' }}"
                ></span>
            {% elseif 'future' == status %}
                <b>{{ 'The event starts in'|trans }}</b>
                <span id="js-data"
                      data-deadline="{{ event.dateStart ? event.dateStart|date('Y-m-d H:i:s') : '' }}"
                ></span>
            {% endif %}

            {{ 'Days:'|trans }} <b class="days"></b>
            {{ 'Hours:'|trans }} <b class="hours"></b>
            {{ 'Minutes:'|trans }} <b class="minutes"></b>
            {{ 'Seconds:'|trans }} <b class="seconds"></b>
        </div>
    {% endif %}

    {% if apGains %}
        <table>
            {% set cnt = 1 %}
            {% for name, value in apGains %}
                {% if cnt == 1 %}
                    {% set img = '<img src="'~asset('build/images/medals/1st-place-medal.png')~'" style="height: 36px">' %}
                {% elseif cnt == 2 %}
                    {% set img = '<img src="'~asset('build/images/medals/2nd-place-medal.png')~'" style="height: 36px">' %}
                {% elseif cnt == 3 %}
                    {% set img = '<img src="'~asset('build/images/medals/3rd-place-medal.png')~'" style="height: 36px">' %}
                {% else %}
                    {% set img = '' %}
                {% endif %}
                <tr>
                    <th>{{ img|raw }}{{ cnt ~ '. ' ~name|raw }}</th>
                    <td class="text-right">{{ value|number_format }}</td>
                </tr>
                {% set cnt = cnt + 1 %}
            {% endfor %}
        </table>
    {% else %}
        No hay estadisticas para este evento :(
    {% endif %}
{% endblock %}
