{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <h1 class="h3 mb-3 font-weight-normal">{{ 'Please sign in'|trans }}</h1>

    {% if 'dev' == app.environment %}

        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                   placeholder="Username" required autofocus>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-lg btn-outline-primary" type="submit">
                Sign in
            </button>
        </form>
    {% else %}
        <a href="{{ path('connect_google_start') }}" title="{{ 'Google Login'|trans }}">
            <img src="{{ asset('build/images/login-buttons/btn_google_signin_dark_normal_web.png') }}"
                 alt="{{ 'Google Login'|trans }}">
        </a>
    {% endif %}
{% endblock %}
