{% extends 'base-map.html.twig' %}

{% block title %}{{ 'Agents Map'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('agents-map') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('agents-map') }}
{% endblock %}

{% block body %}
    <span id="jsData" data-mapgroups="{{ mapGroups|json_encode }}"></span>
    <div id="map"></div>
{% endblock %}
