{% if ingressMD %}
    <h3>{{ 'Ingress Mission Day'|trans }}</h3>
    <a href="{{ fs.link }}">{{ fs.name }}</a>

{% endif %}
{% if ingressFS %}
    <div class="card">
        <div class="card-header">
            <h3>{{ 'Ingress First Saturday'|trans }}</h3>
            {{ nextFs|formatIntlDate }}
        </div>
        <div class="card-body">
            &bull;
            {% for fs in ingressFS %}
                <a href="{{ fs.link }}">{{ fs.name }}</a> &bull;
            {% endfor %}

        </div>
    </div>

{% endif %}
<h3>{{ 'Current events'|trans }}</h3>

{% for event in currentEvents %}
    <div class="card">
        <div class="card-body">
            <h4>
                <a href="{{ path('event_show', {'id': event.id}) }}">{{ event.name }}</a>
            </h4>

            <div class="clock-counter text-center alert alert-warning"
                 data-deadline="{{ event.dateEnd|date('Y-m-d H:i:s') }}">
                <b>{{ 'The event ends in'|trans }}</b>
                {{ 'Days:'|trans }} <b class="days"></b>
                {{ 'Hours:'|trans }} <b class="hours"></b>
                {{ 'Minutes:'|trans }} <b class="minutes"></b>
                {{ 'Seconds:'|trans }} <b class="seconds"></b>
            </div>

        </div>
    </div>
{% else %}
    <div>{{ 'No current events.'|trans }}</div>
{% endfor %}

<h3>{{ 'Future Events'|trans }}</h3>
{% for event in futureEvents %}
    <div class="card">
        <div class="card-body">
            <h4>
                <a href="{{ path('event_show', {'id': event.id}) }}">{{ event.name }}</a>
            </h4>

            {{ event.dateStart|date('Y-m-d H:i:s e') }}

            {{ 'Event type: {type}'|trans({'type': event.eventType}) }}

            <div class="clock-counter"
                 data-deadline="{{ event.dateStart|date('Y-m-d H:i:s') }}">
                <b>{{ 'The event starts in'|trans }}</b>
                {{ 'Days:'|trans }} <b class="days"></b>
                {{ 'Hours:'|trans }} <b class="hours"></b>
                {{ 'Minutes:'|trans }} <b class="minutes"></b>
                {{ 'Seconds:'|trans }} <b class="seconds"></b>
            </div>

        </div>
    </div>
{% else %}
    <div>{{ 'There are no future events.'|trans }}</div>
{% endfor %}

<h3>{{ 'Past Events'|trans }}</h3>
{% for event in pastEvents %}
    <div>
        <a href="{{ path('event_show', {'id': event.id}) }}">{{ event.name }}</a>
    </div>
{% else %}
    <div>{{ 'There are no past events.'|trans }}</div>
{% endfor %}
