<h1>{{ 'Welcome!'|trans }}
    {% if is_granted('ROLE_AGENT') %}
        <img src="{{ asset('build/images/logos/ENL.svg') }}" style="height: 64px" alt="ENL logo">
    {% else %}
        ✅
    {% endif %}
</h1>
{% if is_granted('ROLE_ADMIN') %}
    Hello admin <code>{{ app.user.username }}</code>
{% elseif is_granted('ROLE_EDITOR') %}
    Bienvenido agente editor <code>{{ app.user.username }}</code>
{% elseif is_granted('ROLE_AGENT') %}
    Bienvenido agente <code>{{ app.user.username }}</code>
{% elseif app.user %}
    <div class="alert alert-warning">
        ¡Tu cuenta aún no ha sido activada!<br>
        Por favor, comunícate con un administrador (<a href="https://t.me/RazorEc">@RazorEc</a>, <a
                href="https://t.me/GIOBOTNOVICE">@GIOBOTNOVICE</a> o <a href="https://t.me/nikp3h">@nikp3h</a>)
        y proporciona tu nombre de agente y tu e-mail
        <code>{{ app.user.email }}</code>
        para la activacion..<br><br>
        In Jarvis we trust!
    </div>
{% endif %}

<p>{{ 'agents.in.database'|trans({'count': agents|length}) }}</p>
