<h1>{{ 'Welcome!'|trans }}
    {% if is_granted('ROLE_AGENT') %}
        <img src="{{ asset('build/images/logos/ENL.svg') }}" style="height: 64px" alt="ENL logo">
    {% else %}
        ✅
    {% endif %}
</h1>
{% if is_granted('ROLE_ADMIN') %}
    Hello admin <code>{{ app.user.agent ? app.user.agent.nickname : app.user.username }}</code>
{% elseif is_granted('ROLE_EDITOR') %}
    Bienvenido agente editor <code>{{ app.user.agent ? app.user.agent.nickname : app.user.username }}</code>
{% elseif is_granted('ROLE_INTRO_AGENT') %}
    Bienvenido agente <code>{{ app.user.agent ? app.user.agent.nickname : app.user.username }}</code>
{% elseif app.user %}
    <div class="alert alert-warning">
        Agente 4E, ¡tu cuenta todavía no ha sido activada!<br>
        Pero, ten calma.<br>
        Por favor, comunícate por Telegram con un administrador (<a href="https://t.me/RazorEc">@RazorEc</a>, <a
                href="https://t.me/GIOBOTNOVICE">@GIOBOTNOVICE</a> o <a href="https://t.me/nikp3h">@nikp3h</a>) e indica
        tu interés en entrar al sitio y proporciona tu nombre de agente y tu correo electrónico
        (<code>{{ app.user.email }}</code>) asociado para tu verificación.<br><br>

        Cuando te hayas contactado, los administradores validarán tu nombre y podrás acceder al sitio de los iluminados
        de Ecuador, Enlightened Elite Echelon of Ecuador, 4E para los panas.<br><br>

        In Jarvis we trust!
    </div>
{% endif %}

<p>{{ 'agents.in.database'|trans({'count': agents|length}) }}</p>

{# check for APP @todo ugly! #}
{% if '4emanager' != app.request.headers.get('User-Agent') %}
    <a href="https://play.google.com/store/apps/details?id=org.elkuku.a4emanager">
        <img src="{{ asset('build/images/ico/google-play-badge/128x128.png') }}" alt="4E App on Play Store">
    </a>
{% endif %}
