{% if is_granted('ROLE_AGENT') %}
    <div class="card alert-success">
        <div class="card-body">

            {% if app.user.agent %}
                <b>{{ 'Import Stats'|trans }}</b>
                <form method="post" action="{{ path('stat_import') }}" class="form-inline">
                    <div class="input-group">
                        <textarea class="form-control" name="csv" id="csv" required="required"
                                  placeholder="{{ 'Prime export'|trans }}"></textarea>
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" title="{{ 'Upload'|trans }}"><span class="oi oi-cloud-upload"></button>
                        </div>
                    </div>
                    <input type="hidden" name="type" value="prime">
                </form>
            {% endif %}

            <b>{{ 'Search agent'|trans }}</b>
            <form method="post" action="{{ path('agent_index') }}" class="form-inline">
                <div class="input-group">
                    <input type="text" id="searchAgent" required="required" name="paginatorOptions[criteria][nickname]"
                           class="form-control" placeholder="{{ 'Agent nickname'|trans }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" title="{{ 'Search'|trans }}">
                            <span class="oi oi-magnifying-glass"></span>
                            </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endif %}
