{% if is_granted('ROLE_INTRO_AGENT') %}
    <div class="card alert-success">
        <div class="card-body">
            {% if app.user.agent %}
                <b>{{ 'Import Stats'|trans }}</b>
                <form method="post" action="{{ path('stat_import') }}" class="form-inline">
                    <div class="input-group">
                        <textarea class="form-control" name="csv" id="csv" required="required"
                                  placeholder="{{ 'Prime export'|trans }}"></textarea>
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" title="{{ 'Upload'|trans }}">
                                <span class="oi oi-cloud-upload"></span>
                            </button>
                        </div>
                    </div>
                    <input type="hidden" name="type" value="prime">
                </form>
            {% endif %}

            {% if is_granted('ROLE_AGENT') %}
                <b>{{ 'Search agent'|trans }}</b>
                <form method="post" action="{{ path('agent_index') }}" class="form-inline">
                    <div class="input-group">
                        <input type="text" id="searchAgent" required="required"
                               name="paginatorOptions[criteria][nickname]"
                               class="form-control" placeholder="{{ 'Agent nickname'|trans }}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" title="{{ 'Search'|trans }}">
                                <span class="oi oi-magnifying-glass"></span>
                            </button>
                        </div>
                    </div>
                </form>
            {% endif %}
            {% if not app.user.agent.telegramId %}
                <b>{{ 'Connect to Telegram'|trans }}</b>
                <div>
                    <a class="btn btn-success" href="{{ path('tg_connect') }}" target="_blank">
                        {{ 'Connect to Telegram'|trans }}
                    </a>
                </div>
            {% else %}
                {% if not app.user.agent.hasNotifyUploadStats and not app.user.agent.hasNotifyStatsResult and not app.user.agent.hasNotifyEvents %}
                    <b>{{ 'Connect to Telegram'|trans }}</b>
                    <div class="alert-warning">
                        {{ 'You are connected to Telegram but have not enabled notifications. You may do this {link}.'
                        |trans({'link': '<a href="'~path('app_account')~'#telegram">'~'account.link.text'|trans~'</a>'})|raw }}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endif %}
