{% extends 'base.html.twig' %}

{% block title %}4E{% endblock %}

{% block body %}
    <h1>{{ 'Welcome!'|trans }} ✅</h1>
    {% if is_granted('ROLE_ADMIN') %}
        Hello admin <code>{{ app.user.username }}</code>
    {% elseif is_granted('ROLE_AGENT') %}
        Bienvenido agente <code>{{ app.user.username }}</code>
    {% elseif app.user %}
        <div class="alert alert-danger">
            Tu cuenta no ha sido activada aun!<br>
            Por favor comunicate con un administrador proporcionando tu nombre de agente y tu e-mail
            <code>{{ app.user.email }}</code> para la activacion.<br>
            In Jarvis we trust!
        </div>
    {% endif %}

    <p>{{ 'agents.in.database'|trans({'count': agents|length}) }}</p>

    {% if is_granted('ROLE_AGENT') %}
        <h2>Ultimos comentarios</h2>
        {% for comment in latestComments %}
            <div class="card">
                <div class="card-header">
                    {{ comment.datetime|date("d-m-Y") }} {{ comment.commenter.username }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="{{ asset('build/images/logos/'~comment.agent.faction.name~'.svg') }}" style="height: 32px" alt="logo">
                        <a href="{{ path('agent_show', {'id':comment.agent.id}) }}">{{ comment.agent.nickname }}</a>
                    </h5>
                    <p class="card-text">
                        {{ comment.text|raw }}
                    </p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
