{% extends 'base.html.twig' %}

{% block title %}4E{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <div class="example-wrapper">
        <h1>Welcome! ✅</h1>
        {% if is_granted('ROLE_ADMIN') %}
            hello admin
        {% elseif is_granted('ROLE_AGENT') %}
            Bienvenido agente {{ app.user.username }}
        {% elseif app.user %}
            <div class="alert alert-danger">
                Tu cuenta no ha sido activada aun!<br>
                Por favor comunicate con un administrador proporcionando tu nombre de agente y tu e-mail <code>{{ app.user.email }}</code> para la activacion.<br>
                In Jarvis we trust!
            </div>
        {% endif %}
        <p>
            Tenemos <code>{{ agents|length }}</code> agentes en nuestra base de datos.
        </p>

        {% if is_granted('ROLE_AGENT') %}

        <h2>Ultimos comentarios</h2>

        <table class="table table-condensed">
            <tr>
                <th>Tipo</th>
                <th>Fecha</th>
                <th>Agente</th>
                <th>Comenter</th>
                <th>Comentario</th>
            </tr>
            {% for comment in latestComments %}

                <tr>
                    <td></td>
                    <td>
                        <a href="{{ path('agent_show', {'id':comment.agent.id, '_fragment': 'comment-' ~ comment.id}) }}">
                            {{ comment.datetime|date("d/m/Y") }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('agent_show', {'id':comment.agent.id}) }}">{{ comment.agent.nickname }}</a>
                    </td>
                    <td>{{ comment.commenter.username }}</td>
                    <td>{{ comment.text }}</td>
                </tr>

            {% endfor %}
        </table>

        {% endif %}

    </div>

{% endblock %}
