{% if error %}
{{ error}}
{% endif %}
{% if result.newLevel %}
    <div class="alert alert-success">
        <h3>{{ 'New Level: {level}'|trans({'level': result.newLevel}) }}</h3>
    </div>
{% endif %}

{% if result.medalUps %}
    <div class="alert alert-success">
        <h3>{{ 'Medal Upgrades'|trans }}</h3>
        {% for name,level in result.medalUps %}
            <span class="medal50 medal-{{ getBadgePath(name, level, 0, '') }}"
                  title="{{ name }} - {{ level|translateMedalLevel }}"
            ></span>
        {% endfor %}
    </div>
{% endif %}

{% if result.coreSubscribed %}
    <div class="alert alert-success">
        <h3>{{ 'CORE Subscription'|trans }}</h3>
        {% for name in result.coreSubscribed %}
            <span class="medal50 medal-unique_badge_{{ name }}"
                  title="{{ name }}"
            ></span>
        {% endfor %}
    </div>
{% endif %}

{% if result.diff %}
    {% for name, value in result.diff %}
        <div class="row">
            {% if 'ap' == name %}
                <div class="col">
                    <h5>AP: <span class="badge text-bg-success">+ {{ value|number_format }}</span></h5>
                </div>
            {% else %}
                <div class="col-6">
                    {% set level = medalLevel(name, statEntry[name]) %}
                    {% if level %}
                        <span class="medal50 medal-{{ getBadgePath(name, level, 0, '') }}"
                              title="{{ name }} - {{ level|translateMedalLevel }}"
                        ></span>
                        {% set doubleCount = medalDoubleValue(name, statEntry[name]) %}
                        {% if doubleCount > 1 %}
                            <span class="text-warning">X {{ doubleCount }}</span>
                        {% endif %}
                    {% else %}
                        {{ name }}
                    {% endif %}
                    <span class="badge text-bg-success">+ {{ value|number_format }}</span>
                </div>
                <div class="col-6">
                    {% if name starts with 'drone' or name in[
                        'kineticCapsulesCompleted', 'monthsSubscribed', 'recursions', 'currentChallenge', 'level',
                        'longestLink', 'largestField', 'portalsDiscovered'
                    ] %}
                        {# No medals so far... #}
                    {% else %}
                        {% if level < 5 %}
                            <span class="medal50 medal-{{ getBadgePath(name, level+1, 0, '') }}"
                                  title="{{ name }} - {{ (level+1)|translateMedalLevel }}"
                            ></span>
                            <span class="badge text-bg-secondary">- {{ (medalValue(name,level + 1)-statEntry[name])|number_format }}</span>
                        {% else %}
                            <span class="medal50 medal-{{ getBadgePath(name, level, 0, '') }}"
                                  title="{{ name }} - {{ (level)|translateMedalLevel }}"
                            ></span>
                            <span class="text-warning">X {{ doubleCount + 1 }}</span>
                            <span class="badge text-bg-secondary">- {{ (((doubleCount + 1) * medalValue(name,level)) - statEntry[name])|number_format }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}
