{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {% if ups %}
        <h1>Medal UPs</h1>
        <table>
            <tr>
                <th>Fecha</th>
                <th>Medalla</th>
                <th>Nivel</th>
            </tr>
            {% for date,upValues in ups %}
                {% for agent,agentValues in upValues %}
                    {% for name,level in agentValues %}
                        <tr>
                            <td>{{ date }}</td>
                            <td>{{ name }}</td>
                            <td>{{ level|medalLevel }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </table>
    {% endif %}
    {% if currents %}
        <h1>Current Medals</h1>
        <table>
            {% for name,level in currents %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ level|medalLevel }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <h2>Prime Export</h2>
    <form method="post">
        <label for="csv">CSV</label>
        <textarea class="form-control" name="csv" id="csv" cols="80" rows="5"></textarea>
        <input type="hidden" name="type" value="prime">
        <button class="btn btn-success">Enviar Prime Export</button>
    </form>

    <h2>AgentStats Export</h2>
    <form method="post">
        <label for="csvAstats">CSV</label>
        <textarea class="form-control" name="csv" id="csvAstats" cols="80" rows="5"></textarea>
        <input type="hidden" name="type" value="agentstats">
        <button class="btn btn-success">Enviar AgentStats Export</button>
    </form>
{% endblock %}
