{% extends 'base.html.twig' %}

{% block title %}Import Stats{% endblock %}

{% block body %}

    {% if diff %}
        <div class="alert alert-success">
            <h2>Progress:</h2>
            <ul>
                {% for name, value in diff %}
                    <li>{{ name }}: {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if ups %}
        <div class="alert alert-success">
            <h2>Medal UPs</h2>
            <ul>
                {% for name,level in ups %}
                    <li>
                        {{ name }}: {{ level|medalLevel }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if currents %}
        <h2>Current Medals</h2>
        <table>
            {% for name,level in currents %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ level|medalLevel }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <h2>Prime Export</h2>
    <form method="post">
        <label for="csv">CSV</label>
        <textarea class="form-control" name="csv" id="csv" cols="80" rows="5"></textarea>
        <input type="hidden" name="type" value="prime">
        <button class="btn btn-success">Enviar Prime Export</button>
    </form>

    <h2>AgentStats Export</h2>
    <form method="post">
        <label for="csvStats">CSV</label>
        <textarea class="form-control" name="csv" id="csvStats" cols="80" rows="5"></textarea>
        <input type="hidden" name="type" value="agentstats">
        <button class="btn btn-success">Enviar AgentStats Export</button>
    </form>
{% endblock %}
