{% extends 'base.html.twig' %}

{% block title %}Import Stats{% endblock %}

{% block body %}
    <h2>{{ 'Import statistics'|trans }}</h2>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab"
               aria-controls="nav-home" aria-selected="true">Ingress Prime</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab"
               aria-controls="nav-profile" aria-selected="false">agent-stats.com</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <form method="post">
                <label for="csv">{{ 'Use the copy stats button {img} from your ingress profile and paste it here.'|trans({'img':'<img src="'~ asset('build/images/ico/profile-copy.jpg') ~'" alt="Copy profile">'})|raw }}</label>
                <textarea class="form-control" name="csv" id="csv" required="required" cols="80" rows="5"></textarea>
                <input type="hidden" name="type" value="prime">
                <button class="btn btn-outline-success">{{ 'Submit'|trans }}</button>
            </form>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <form method="post">
                <label for="csvStats">{{ 'Use the export function from {agentstats}'|trans({'agentstats': '<a href="https://www.agent-stats.com/">agent-stats.com</a>'})|raw }}</label>
                <textarea class="form-control" name="csv" id="csvStats" required="required" cols="80"
                          rows="5"></textarea>
                <input type="hidden" name="type" value="agentstats">
                <button class="btn btn-outline-success">{{ 'Submit'|trans }}</button>
            </form>
        </div>
    </div>
{% endblock %}
