{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'Import result'|trans }}{% endblock %}

{% block body %}
    <h2>{{ 'Import result'|trans }}</h2>

    {% if diff %}
        <div class="alert alert-success">
            <h3>{{ 'Progress'|trans }}:</h3>
            <ul>
                {% for name, value in diff %}
                    <li>{{ name }}: {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if ups %}
        <div class="alert alert-success">
            <h3>{{ 'Medal UPs'|trans }}</h3>
            <ul>
                {% for name,level in ups %}
                    <li>
                        {{ name }}: {{ level|medalLevel }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if newLevel %}
        <div class="alert alert-success">
            <h3>{{ 'New Level: {level}'|trans({'level': newLevel}) }}</h3>
        </div>
    {% endif %}

    {% if currents %}
        <h3>{{ 'Current Medals'|trans }}</h3>
        <table>
            {% for name,level in currents %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ level|medalLevel }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <a class="btn btn-outline-success" href="{{ path('agent_stats', {'id': app.user.agent.id}) }}">
        <span class="oi oi-graph"></span> {{ 'My Stats'|trans }}
    </a>

{% endblock %}
