{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'Import result'|trans }}{% endblock %}

{% block body %}
    <h2>{{ 'Import result'|trans }}</h2>

    {% include 'import/_result.html.twig' %}

    {% if result.currents %}
        <h1>{{ 'First import succesfull! Welcome agent.'|trans }}</h1>
        <h3>{{ 'Current Medals'|trans }}</h3>
        <table>
            {% for name,level in result.currents %}
                <span
                        class="medal50 medal-{{ getBadgePath(name, level, 0, '') }}"
                        title="{{ name }} - {{ (level+1)|translateMedalLevel }}"
                ></span>
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ level|medalLevel }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <a class="btn btn-outline-success" href="{{ path('agent_stats', {'id': app.user.agent.id}) }}">
        <span class="oi oi-graph"></span> {{ 'My Stats'|trans }}
    </a>
{% endblock %}
