{% extends 'base.html.twig' %}

{% import '_paginator-elements.html.twig' as paginator %}

{% block title %}IngressEvent index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('helper/paginator') }}
{% endblock %}

{% block body %}
    <div class="float-right btn-group">
        <a class="btn btn-outline-success" href="{{ path('ingress_event_new') }}" title="{{ 'Create new'|trans }}"><span
                    class="oi oi-plus"></span></a>
        <a class="btn btn-outline-info" href="{{ path('ingress_event_announce') }}"><span class="oi oi-bullhorn"> TG</a>
        <a class="btn btn-outline-warning" href="{{ path('ingress_event_announce_fbm') }}"><span class="oi oi-bullhorn"> FCM</a>
        <a class="btn btn-outline-warning" href="{{ path('ingress_event_announce_fbm_token') }}"><span
                    class="oi oi-bullhorn"> FCM Token</a>
        <a class="btn btn-outline-info" href="{{ path('ingress_event_overview') }}" title="Overview"><span class="oi oi-eye"></a>
    </div>

    <h1>Ingress Events</h1>

    <form method="post">

        <div class="row">
            <div class="col-xs-2">{{ paginator.listLimit(paginatorOptions) }}</div>
            <div class="col-xs-10">{{ paginator.pagination(paginatorOptions) }}</div>
        </div>

        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th></th>
                <th>
                    {{ paginator.ordering('name', paginatorOptions) }}
                </th>
                <th>
                </th>
                <th>
                    {{ paginator.ordering('date_start', paginatorOptions) }}
                </th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Date_start</th>
                <th>Date_end</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ingress_event in ingress_events %}
                <tr>
                    <td>{{ ingress_event.id }}</td>
                    <td>{{ ingress_event.name }}</td>
                    <td>{{ ingress_event.type }}</td>
                    <td title="{{ ingress_event.dateStart ? ingress_event.dateStart|date('Y-m-d H:i') : '' }}">
                        {{ ingress_event.dateStart ? ingress_event.dateStart|date('Y-m-d') : 'N/A' }}
                    </td>
                    <td title="{{ ingress_event.dateEnd ? ingress_event.dateEnd|date('Y-m-d H:i') : '' }}">
                        {{ ingress_event.dateEnd ? ingress_event.dateEnd|date('Y-m-d') : 'N/A' }}
                    </td>
                    <td>
                        <a href="{{ path('ingress_event_show', {'id': ingress_event.id}) }}">show</a>
                        <a href="{{ path('ingress_event_edit', {'id': ingress_event.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ paginator.formFields(paginatorOptions) }}

    </form>
{% endblock %}
