{% extends 'base.html.twig' %}

{% block title %}IngressEvent index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ingress-events-overview') }}
{% endblock %}

{% block body %}
    <span id="js-data" data-event-ids="[{{ eventIds|join(', ') }}]"></span>
    <h1>Ingress FS overview</h1>
    <div class="row">
        {% for event in events %}
            <div class="col-sm-4 card">
                <div class="card-header">
                    <b>{{ event.name }}</b> - {{ event.dateStart|date('d M Y H:i') }}
                    <br>
                    <a href="{{ event.link }}">Event Page</a>
                </div>
                <div class="card-body" id="event-{{ event.id }}">
                </div>
            </div>
        {% endfor %}
    </div>

    <script id="myTemplate" type="text/x-jsrender">
<div class="row">
    <div class="col faction-enl">
<%:#data.atendees.enl.length+1%>
    </div>
    <div class="col faction-res">
<%:#data.atendees.res.length+1%>

    </div>
    </div>

    <hr/>
<div class="row">
  <%props poc%>
    <div class="col faction-<%:key%>">
    <%:prop%>
    </div>
  <%/props%>
    </div>
    <hr/>
<div class="row">
    <div class="col">
        <ul class="list-unstyled">
        <%for atendees.enl%>
            <li class="faction-enl"><%:%></li>
        <%/for%>
        </ul>
    </div>
    <div class="col">
        <ul class="list-unstyled">
        <%for atendees.res%>
                <li class="faction-res"><%:%></li>
                <%/for%>
        </ul>
        </ul>
    </div>
</div>
</script>
{% endblock %}
