<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('default') }}">4E</a>

    <a style="color: rgba(255, 255, 255, 0.5);" class="nav-link" href="{{ path('agent-map') }}">{{ 'Map'|trans }}</a>

    {% if is_granted('ROLE_AGENT') %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                           role="button">{{ 'Stats'|trans }}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href={{ path('stat_import') }}>{{ 'Import'|trans }}</a>
                            <a class="dropdown-item" href={{ path('my_stats') }}>{{ 'My Stats'|trans }}</a>
                            <a class="dropdown-item" href={{ path('stats_leaderboard') }}>{{ 'Leaderboard'|trans }}</a>
                            <a class="dropdown-item" href={{ path('stats_by_date') }}>{{ 'Medals by date'|trans }}</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href={{ path('agent_index') }}>{{ 'Agents'|trans }}</a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                               role="button">{{ 'Admin'|trans }}</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('user_index') }}">{{ 'Users'|trans }}</a>
                                <a class="dropdown-item" href={{ path('agent_stat_index') }}>{{ 'Stats'|trans }}</a>
                                <a class="dropdown-item" href="{{ path('comment_index') }}">{{ 'Coments'|trans }}</a>
                                <a class="dropdown-item" href="{{ path('import') }}">{{ 'Import Agents'|trans }}</a>
                            </div>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>

    {% endif %}

    <div class="ml-auto">
        <ul class="navbar-nav ml-auto">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a style="color: #fff;" class="nav-link"
                       href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a style="color: #fff;" class="nav-link"
                       href="{{ path('connect_google_start') }}">{{ 'Login'|trans }}</a>
                </li>
            {% endif %}
        </ul>
    </div>

</nav>
