{% set page = app.request.get('_route') %}

<nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">

    <a class="navbar-brand text-success" href="{{ path('default') }}">4E</a>

    {% if is_granted('ROLE_AGENT') %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <ul class="nav navbar-nav">
                    <li class="nav-item{% if page == 'agent_index' %} active{% endif %}"
                        title="{{ 'Agents'|trans }}">
                        <a class="nav-link" href={{ path('agent_index') }}>
                            <span class="oi oi-people"></span>
                        </a>
                    </li>
                    <li class="nav-item{% if page == 'stats_leaderboard' %} active{% endif %}"
                        title="{{ 'Leaderboard'|trans }}">
                        <a class="nav-link" href={{ path('stats_leaderboard') }}>
                            <span class="oi oi-graph"></span>
                        </a>
                    </li>
                    <li class="nav-item{% if page == 'agent-map' %} active{% endif %}" title="{{ 'Map'|trans }}">
                        <a class="nav-link" href="{{ path('agent-map') }}"><span class="oi oi-globe"></span></a>
                    </li>
                    <li class="nav-item{% if page == 'compare' %} active{% endif %}" title="{{ 'Compare'|trans }}">
                        <a class="nav-link" href="{{ path('compare') }}"><span class="oi oi-fullscreen-exit"></span></a>
                    </li>
                    <li class="nav-item" title="{{ 'Events'|trans }}">
                        <a class="nav-link{% if page == 'default_events' %} text-success{% endif %}"
                           href={{ path('default_events') }}>
                            <span class="oi oi-flag"></span>
                        </a>
                    </li>
                    <li class="nav-item{% if page == 'calendar' %} active{% endif %}" title="{{ 'Calendar'|trans }}">
                        <a class="nav-link" href="{{ path('event_calendar') }}"><span class="oi oi-calendar"></span></a>
                    </li>
                    <li class="nav-item{% if page == 'help_index' %} active{% endif %}" title="{{ 'Help'|trans }}">
                        <a class="nav-link" href={{ path('help_index') }}><span class="oi oi-info"></span></a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown" title="{{ 'Admin'|trans }}">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">
                                <span class="oi oi-wrench text-warning"></span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('user_index') }}">
                                    <span class="oi oi-people"></span>&nbsp;
                                    {{ 'Users'|trans }}
                                </a>
                                <a class="dropdown-item" href={{ path('agent_stat_index') }}>
                                    <span class="oi oi-graph"></span>&nbsp;
                                    {{ 'Stats'|trans }}
                                </a>
                                <a class="dropdown-item" href="{{ path('comment_index') }}">
                                    <span class="oi oi-comment-square"></span>&nbsp;
                                    {{ 'Coments'|trans }}
                                </a>
                                <a class="dropdown-item" href="{{ path('map_group_index') }}">
                                    <span class="oi oi-map-marker"></span>&nbsp;
                                    {{ 'Map groups'|trans }}
                                </a>

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="{{ path('event_index') }}">
                                    <span class="oi oi-aperture"></span>&nbsp;
                                    {{ 'Events'|trans }}
                                </a>
                                <a class="dropdown-item" href="{{ path('challenge_index') }}">
                                    <span class="oi oi-aperture"></span>&nbsp;
                                    {{ 'Challenges'|trans }}
                                </a>
                                <a class="dropdown-item" href="{{ path('ingress_event_index') }}">
                                    <span class="oi oi-aperture"></span>&nbsp;
                                    {{ 'Ingress Events'|trans }}
                                </a>

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href={{ path('stats_by_date') }}>
                                    <span class="oi oi-badge"></span>&nbsp;
                                    {{ 'Medals by date'|trans }}
                                </a>

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="{{ path('test_stat_index') }}">
                                    <span class="oi oi-beaker"></span>&nbsp;
                                    TEST stats
                                </a>
                                <a class="dropdown-item" href="{{ path('test_modify_stats') }}">
                                    <span class="oi oi-beaker"></span>&nbsp;
                                    Modify stats
                                </a>
                                <a class="dropdown-item" href="{{ path('test_emojis') }}">
                                    <span class="oi oi-eye"></span>&nbsp;
                                    Emojis
                                </a>
                                <a class="dropdown-item" href="{{ path('test') }}">
                                    <span class="oi oi-beaker"></span>&nbsp;
                                    TEST
                                </a>
                                <a class="dropdown-item text-info" href={{ path('agent_index_old') }}>
                                    <span class="oi oi-people"></span>&nbsp;
                                    Agents OLD
                                </a>
                                <a class="dropdown-item text-info" href={{ path('user_index_old') }}>
                                    <span class="oi oi-people"></span>&nbsp;
                                    Users OLD
                                </a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}

    <span id="darkmode-toggle" class="btn oi oi-contrast" title="{{ 'Dark mode'|trans }}"></span>

    <div class="ml-auto">
        <ul class="navbar-nav ml-auto">
            {% if is_granted('ROLE_USER') %}
                {% if app.user.agent %}
                    <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">
                        {% if app.user.avatarEncoded %}
                            <img src="{{ app.user.avatarEncoded }}" height="24" alt="Avatar">
                        {% else %}
                            <span class="oi oi-person"></span>
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-dark">
                    <a class="dropdown-item nav-link" href={{ path('app_account') }}>
                        <span class="oi oi-person"></span> {{ 'My Profile'|trans }}
                        {# {{ app.user.agent.nickname }} #}
                    </a>
                    <a class="dropdown-item nav-link" href={{ path('agent_stats', {'id': app.user.agent.id}) }}>
                        <span class="oi oi-graph"></span> {{ 'My Stats'|trans }}
                    </a>
                    <a class="dropdown-item nav-link" href={{ path('stat_import') }}>
                        <span class="oi oi-cloud-upload"></span> {{ 'Import Stats'|trans }}
                    </a>
                    <div class="dropdown-divider"></div>
                {% endif %}
                <a class="dropdown-item nav-link" href="{{ path('app_logout') }}">
                    <span class="oi oi-account-logout"></span> {{ 'Logout'|trans }}
                </a>
                </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{ path('app_login') }}" class="nav-link">{{ 'Login'|trans }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
