<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}4E{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="
    {%- if 'dev' == app.environment -%}
        {{ asset('favicon-dev.ico') }}
    {%- else -%}
        {{ asset('favicon.ico') }}
    {%- endif -%}
    "/>

    {% block stylesheets %}{% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>

<noscript><h1 class="alert alert-danger">{{ 'Please activate Javascript'|trans }}</h1></noscript>

{% include ('_flash-messages.html.twig') %}
{% block body %}{% endblock %}
</body>
</html>
