{% extends 'base.html.twig' %}

{% block title %}Challenge index{% endblock %}

{% block body %}
    <h1>Challenge index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date start</th>
            <th>Date end</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for challenge in challenges %}
            <tr>
                <td>{{ challenge.id }}</td>
                <td>
                    <a href="{{ path('challenge_show', {'id': challenge.id}) }}">
                    {{ challenge.name }}</td>
                </a>
                <td>{{ challenge.dateStart ? challenge.dateStart|date('Y-m-d H:i') : '' }}</td>
                <td>{{ challenge.dateEnd ? challenge.dateEnd|date('Y-m-d H:i') : '' }}</td>
                <td>
                    <a href="{{ path('challenge_edit', {'id': challenge.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('challenge_new') }}">Create new</a>
{% endblock %}
