{% extends 'base.html.twig' %}

{% block title %}{{ agent.nickname }} {{ 'Statistics'|trans }}{% endblock %}

{% block body %}
    {% if user and user.avatarEncoded %}
        <img src="{{ user.avatarEncoded }}" height="100" alt="Avatar" class="float-left">
    {% endif %}
    <a href="{{ path('agent_show', {'id': agent.id}) }}" class="float-right btn btn-outline-success"
       title="{{ 'View Profile'|trans }}"
    >
        <span class="oi oi-person"></span>
    </a>
    <h1>{{ 'Statistics'|trans }}</h1>
    <p>
        {{ 'Agent: {agent_name}'|trans({'agent_name': '<code>' ~ agent.nickname ~'</code>'})|raw }}
        {% if latest %}
            <span class="agent-level">{{ latest.level }}</span>
            {% if latest.recursions %}
                <span class="medal50 medal-unique_badge_simulacrum" title="Simulacrum"></span>
                {% if latest.recursions > 1 %}
                    <span class="doubleCount">X {{ latest.recursions }}</span>
                {% endif %}
            {% endif %}
            {% if latest.monthsSubscribed %}
                <br>
                <span class="medal50 medal-unique_badge_core" title="CORE subscriptions"></span>
                <b>
                    {{ 'C.O.R.E {monthsSubscribed} months'|trans({'monthsSubscribed':latest.monthsSubscribed}) }}
                </b>
                {% if latest.monthsSubscribed >= 24 %}
                    <span class="medal50 medal-unique_badge_dual_core" title="CORE subscriptions (24 month)"></span>
                {% endif %}
                {% if latest.monthsSubscribed >= 36 %}
                    <span class="medal50 medal-unique_badge_core_year3" title="CORE subscriptions (36 month)"></span>
                {% endif %}

            {% endif %}
        {% endif %}
    </p>
    {% if latest %}
        <h4>AP: {{ latest.ap|number_format }}</h4>

        <div {{ stimulus_controller('stats--agent-stats-medals') }}>
            <hr>
            {% if agentCustomMedals %}
                {% for group, medals in agentCustomMedals %}
                    <div>
                        {% for medal, value in medals %}
                            {% set badgeData = getBadgeData(group, medal, value) %}
                            <span
                              {{ stimulus_action('stats--agent-stats-medals', 'showCustomModal', 'click', {
                                  name: badgeData.title,
                                  desc: badgeData.description
                              }) }}
                        >
                            <span class="medal-image">
                            {% if 'anomaly' == group %}
                                <span class="medal50 medal-anomaly_{{ medal }}"
                                      title="{{ badgeData.title }}"
                                ></span>
                            {% elseif 'event' == group %}
                                <span class="medal50 medal-{{ getBadgeName(group, medal, value) }}"
                                      title="{{ badgeData.title }}"
                                ></span>
                            {% else %}
                                <span class="medal50 medal-badge_{{ medal }}_{{ value|medalLevelName }}"
                                      title="{{ badgeData.title }}"
                                ></span>
                            {% endif %}
                        </span>
                        </span>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}

            {% for name, level in medalGroups %}
                <span
                        {{ stimulus_action('stats--agent-stats-medals', 'showModal', 'click', {
                            name: name|ucfirst,
                            desc: name|medalDesc,
                            level: level,
                            value: latest[name]|number_format,
                            values:[
                                medalValue(name, 1)|number_format,
                                medalValue(name, 2)|number_format,
                                medalValue(name, 3)|number_format,
                                medalValue(name, 4)|number_format,
                                medalValue(name, 5)|number_format,
                            ],
                            badgenames: [
                                getBadgePath(name, 1, 0, ''),
                                getBadgePath(name, 2, 0, ''),
                                getBadgePath(name, 3, 0, ''),
                                getBadgePath(name, 4, 0, ''),
                                getBadgePath(name, 5, 0, '')
                            ]
                        }) }}
                        style="text-align: center"
                        title="{{ name ~ ': ' ~ level|translateMedalLevel ~ ' (' ~ latest[name]|number_format ~ ')' }}"
                >
            <span class="medal-image">
            {% if level %}
                <span class="medal50 medal-{{ getBadgePath(name, level, 0, '') }}"></span>
                {% set doubleCount = medalDoubleValue(name, latest[name]) %}

                {% if doubleCount > 1 %}
                <span class="doubleCount">X {{ doubleCount }}</span>
            {% endif %}
            {% else %}
                <img src="{{ asset('images/ico/padlock.png') }}" alt="locked"
                     style="width: 50px;"
                >
            {% endif %}
            </span>
        </span>
            {% endfor %}

        </div>

        <hr>

        <h4>
            <img src="{{ asset('images/ico/drone.jpg') }}" alt="Drone">
            Dronenet
        </h4>

        Portals: <code>{{ latest.dronePortalsVisited }}</code>
        Hacks (Maverick): <code>{{ latest.maverick }}</code>
        Forced recalls: <code>{{ latest.droneForcedRecalls ?? 0 }}</code>
        Flight: <code>{{ latest.droneFlightDistance }}</code> km

        <hr>

        <h4>
            <img src="{{ asset('images/ico/kinetic-capsule.jpg') }}" alt="Kinetic Capsule">
            Kinetics
        </h4>
        {% if latest.kineticCapsulesCompleted %}
            {{ 'Kinetic capsules completed'|trans }}: {{ latest.kineticCapsulesCompleted }}
        {% else %}
            {{ 'No kinetic capsules completed yet'|trans }}
        {% endif %}

        <hr>

        <!-- Stats container -->

        <h1>{{ 'Statistics'|trans }}</h1>
        <div {{ stimulus_controller('stats--agent-stats', {
            userId: agent.id,
            dateStartAll: first.datetime|date('Y-m-d'),
            dateEndAll: latest.datetime|date('Y-m-d')
        }) }}>
            <label for="dateStart" title="{{ 'Start Date'|trans }}"><span class="oi oi-media-play"></span></label>
            <input type="date" id="dateStart" class="statsSelect" value="{{ dateStart|date('Y-m-d') }}"
                   data-stats--agent-stats-target="dateStart"
                   data-action="stats--agent-stats#redrawChart"
            >
            <label for="dateEnd" title="{{ 'End Date'|trans }}"><span class="oi oi-media-stop"></span></label>
            <input type="date" id="dateEnd" class="statsSelect" value="{{ dateEnd|date('Y-m-d') }}"
                   data-stats--agent-stats-target="dateEnd"
                   data-action="stats--agent-stats#redrawChart"
            >

            <div id="agentChart" class="agent-chart"></div>

            <h4>{{ 'All time stats'|trans }}</h4>
            <div id="agentChartAll" class="agent-chart"></div>
        </div>
        <hr>
        {{ 'First import: {date}'|trans({'date': first.datetime|date('Y-m-d')}) }}
        &nbsp;-&nbsp;
        {{ 'Latest Update: {last_update}'|trans({'last_update': latest.datetime|date('Y-m-d')}) }}
        <hr>
    {% else %}
        <div>{{ 'There are no statistics for this agent.'|trans }}</div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade text-center" id="medalModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-header-desc"></div>

                <div class="modal-body"></div>
                <div class="medal-value text-center"></div>

                <div class="row">
                    <div class="col medal-value-1"></div>
                    <div class="col medal-value-2"></div>
                    <div class="col medal-value-3"></div>
                </div>
                <div class="row">
                    <div class="col medal-value-4"></div>
                    <div class="col medal-value-5"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal2 -->
    <div class="modal fade text-center" id="medalModal2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-header-desc"></div>

                <div class="modal-body"></div>
                <div class="medal-value text-center"></div>

                <div class="row">
                    <div class="col medal-value-1"></div>
                    <div class="col medal-value-2"></div>
                    <div class="col medal-value-3"></div>
                </div>
                <div class="row">
                    <div class="col medal-value-4"></div>
                    <div class="col medal-value-5"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
