{% extends 'base.html.twig' %}

{% block title %}{{ agent.nickname }} {{ 'Statistics'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('stats-agent-stats') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('stats-agent-stats') }}
{% endblock %}

{% block body %}
    <span id="js-agent-id" data-js-agent-id="{{ agent.id }}"></span>
    <a href="{{ path('agent_show', {'id': agent.id}) }}" class="float-right btn btn-outline-success"
       title="{{ 'View Profile'|trans }}">
        <span class="oi oi-person"></span>
    </a>
    <h1>{{ 'Statistics'|trans }}</h1>
    <p>
        {{ 'Agent: {agent_name}'|trans({'agent_name': '<code>' ~ agent.nickname ~'</code>'})|raw }}
        {% if latest %}
            <span class="agent-level">{{ latest.level }}</span>
            {% if latest.recursions %}
                <span class="medal50-events medal-UniqueBadge_Simulacrum" title="Simulacrum"></span>
                {% if latest.recursions > 1 %}
                    <span class="doubleCount">X {{ latest.recursions }}</span>
                {% endif %}
            {% endif %}
        {% endif %}
    </p>
    {% if latest %}
        <h4>AP: {{ latest.ap|number_format }}</h4>

        {% if agentCustomMedals %}
            {% for group, medals in agentCustomMedals %}
                <div>
                    {% for medal, value in medals %}
                        {% set badgeData = getBadgeData(group, medal, value) %}
                        <span class="medal-item2"
                              data-medal-name="{{ badgeData.title }}"
                              data-medal-desc="{{ badgeData.description }}"
                        >
                            <span class="medal-image">
                            {% if 'Anomaly' == group %}
                                <span class="medal50-events medal-Anomaly_{{ medal }}"
                                      title="{{ badgeData.title }}"></span>
                            {% elseif 'Event' == group %}
                                {% if 'AvenirShard' == medal %}
                                    <span class="medal50-events medal-UniqueBadge_AvenirShardChallenge"
                                          title="{{ badgeData.title }}"></span>
                                        {% else %}
                                    <span class="medal50-events medal-EventBadge_{{ medal }}_{{ value }}"
                                          title="{{ badgeData.title }}"></span>
                                {% endif %}
                            {% else %}
                                <span class="medal50-badges medal-Badge_{{ medal }}_{{ value|medalLevelName }}"
                                      title="{{ badgeData.title }}"></span>
                            {% endif %}
                        </span>
                        </span>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}

        {% for name, level in medalGroups %}
            <span class="medal-item" style="text-align: center"
                  title="{{ name ~ ': ' ~ level|translateMedalLevel ~ ' (' ~ latest[name]|number_format ~ ')' }}"
                  data-medal-name="{{ name|ucfirst }}"
                  data-medal-desc="{{ name|medalDesc }}"
                  data-medal-level="{{ level }}"
                  data-medal-value="{{ latest[name]|number_format }}"
                  data-medal-value-1="{{ medalValue(name, 1)|number_format }}"
                  data-medal-value-2="{{ medalValue(name, 2)|number_format }}"
                  data-medal-value-3="{{ medalValue(name, 3)|number_format }}"
                  data-medal-value-4="{{ medalValue(name, 4)|number_format }}"
                  data-medal-value-5="{{ medalValue(name, 5)|number_format }}"

                  data-badge-name-1="{{ getBadgePath(name, 1, 0, '') }}"
                  data-badge-name-2="{{ getBadgePath(name, 2, 0, '') }}"
                  data-badge-name-3="{{ getBadgePath(name, 3, 0, '') }}"
                  data-badge-name-4="{{ getBadgePath(name, 4, 0, '') }}"
                  data-badge-name-5="{{ getBadgePath(name, 5, 0, '') }}"
            >
            <span class="medal-image">
            {% if level %}
                <span class="medal50-badges medal-{{ getBadgePath(name, level, 0, '') }}"></span>
                {% set doubleCount = medalDoubleValue(name, latest[name]) %}

                {% if doubleCount > 1 %}
                <span class="doubleCount">X {{ doubleCount }}</span>
            {% endif %}
            {% else %}
                <img src="{{ asset('build/images/ico/padlock.png') }}" alt="locked"
                     style="width: 50px;">
            {% endif %}
            </span>
        </span>
        {% endfor %}

        <h4>Scout</h4>
        Scans: <code>{{ latest.scout ?? 0 }}</code>
        Controller: <code>{{ latest.scoutController ?? 0 }}</code>

        <h4>Dronenet</h4>
        Portals: <code>{{ latest.dronePortalsVisited }}</code>
        Hacks: <code>{{ latest.droneHacks }}</code>
        Forced recalls: <code>{{ latest.droneForcedRecalls ?? 0 }}</code>
        Flight: <code>{{ latest.droneFlightDistance }}</code> km


        <!-- Stats container -->
        <hr>
        {{ 'First import: {date}'|trans({'date': first.datetime|date('Y-m-d')}) }}
        &nbsp;-&nbsp;
        {{ 'Latest Update: {last_update}'|trans({'last_update': latest.datetime|date('Y-m-d')}) }}
        <hr>

        <label for="dateStart" title="{{ 'Start Date'|trans }}"><span class="oi oi-media-play"></span></label>
        <input type="date" id="dateStart" class="statsSelect" value="{{ dateStart|date('Y-m-d') }}">
        <label for="dateEnd" title="{{ 'End Date'|trans }}"><span class="oi oi-media-stop"></span></label>
        <input type="date" id="dateEnd" class="statsSelect" value="{{ dateEnd|date('Y-m-d') }}">

        <div id="agentChart" class="agent-chart"></div>

        <h4>{{ 'All time stats'|trans }}</h4>
        <div id="agentChartAll" class="agent-chart"></div>

        <input id="dateStartAll" type="hidden" value="{{ first.datetime|date('Y-m-d') }}">
        <input id="dateEndAll" type="hidden" value="{{ latest.datetime|date('Y-m-d') }}">

    {% else %}
        <div>{{ 'There are no statistics for this agent.'|trans }}</div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade text-center" id="medalModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-header-desc"></div>

                <div class="modal-body"></div>
                <div class="medal-value text-center"></div>

                <div class="row">
                    <div class="col medal-value-1"></div>
                    <div class="col medal-value-2"></div>
                    <div class="col medal-value-3"></div>
                </div>
                <div class="row">
                    <div class="col medal-value-4"></div>
                    <div class="col medal-value-5"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal2 -->
    <div class="modal fade text-center" id="medalModal2">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-header-desc"></div>

                <div class="modal-body"></div>
                <div class="medal-value text-center"></div>

                <div class="row">
                    <div class="col medal-value-1"></div>
                    <div class="col medal-value-2"></div>
                    <div class="col medal-value-3"></div>
                </div>
                <div class="row">
                    <div class="col medal-value-4"></div>
                    <div class="col medal-value-5"></div>
                </div>
            </div>
        </div>
    </div>

    {{ dump(latest) }}
{% endblock %}
