{% extends 'base.html.twig' %}

{% block title %}{{ 'Medals by date'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Medals by date'|trans }}</h1>
    <form>
        <label for="startDate">Start</label>
        <input id="startDate" type="date" name="start_date" value="{{ startDate|date('Y-m-d') }}">
        <label for="endDate">End</label>
        <input id="endDate" type="date" name="end_date" value="{{ endDate|date('Y-m-d') }}">

        <button class="btn btn-success">Consultar</button>
    </form>

    {% if medalsGained %}
        <h3>(Version 1)</h3>
        <table class="table table-sm">
            <th>Date</th>
            <th>Agent</th>
            <th>Medal</th>
            <th>Level</th>
            {% for date,dateMedals in medalsGained %}
                {% for agent,medals in dateMedals %}
                    {% for name,level in medals %}
                        <tr>
                            <td>{{ date }}</td>
                            <td>{{ agent }}</td>
                            <td>{{ name }}</td>
                            <td>{{ level|medalLevel }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-warning">No medals gained :(</div>
    {% endif %}

    {% if medalsGained1 %}
        <h3>(Version 2)</h3>

        <h4>{{ 'Medals from {startDate} to {endDate}'|trans({'startDate': startDate|intDateShort, 'endDate': endDate|intDateShort}) }}</h4>

        <div class="row">
            {% for medal, agents in medalsGained1 %}
                <div class="col-2-xs">
                    <div class="card">
                        <div class="card-header">
                            {{ medal|capitalize }}
                        </div>
                        <div class="card-body text-center">
                            {% set actLevel = 0 %}
                            {% set counter = 0 %}
                            {% for agent in agents %}
                                {% if agent.level != actLevel %}
                                    <span class="medal50 medal-{{ getBadgePath(medal, agent.level, 0, '') }}"></span>
                                    <br>
                                    <b>{{ agent.level|translateMedalLevel|capitalize }}</b>
                                    <br>
                                {% endif %}
                                {% set actLevel = agent.level %}
                                {{ agent.agent }}
                                <br>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <h3>(Version 2a)</h3>

        <h4>{{ 'Medals from {startDate} to {endDate}'|trans({'startDate': startDate|intDateShort, 'endDate': endDate|intDateShort}) }}</h4>

        <div class="row">
            {% for medal, agents in medalsGained1 %}
                <div class="col-2-xs">
                    <div class="card">
                        <div class="card-header">
                            {{ medal|capitalize }}
                        </div>
                        <div class="card-body text-center" style="position: relative">
                            {% set actLevel = 0 %}
                            {% set left = 5 %}
                            {% set zindex = 5 %}
                            {% for agent in agents %}
                                {% if agent.level != actLevel %}
                                    <span class="medal50 medal-{{ getBadgePath(medal, agent.level, 0, '') }}"
                                          style="position: absolute; top: 3px; left: {{ left }}px; z-index: {{ zindex }}"></span>
                                    <br>
                                    <b>{{ agent.level|translateMedalLevel|capitalize }}</b>
                                    <br>
                                    {% set left = left + 20 %}
                                    {% set zindex = zindex - 1 %}
                                {% endif %}
                                {% set actLevel = agent.level %}
                                {{ agent.agent }}
                                <br>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <h3>(Version 3)</h3>

        <code>
            Medallas de
            {{ startDate|date('d-m') }}
            a
            {{ endDate|date('d-m') }}
            <br>
            =====================================
            <br>
            {% for medal, agents in medalsGained1 %}
                <br>
                **{{ medal|capitalize }}**
                <br>
                =============
                <br>
                {% for agent in agents %}
                    * @{{ agent.agent ~ ': ' ~ agent.level|translateMedalLevel|capitalize }}
                    <br>
                {% endfor %}
            {% endfor %}
            <br>
            Felicitaciones!!!
        </code>
    {% else %}
        <div class="alert alert-warning">No medals gained :(</div>
    {% endif %}
{% endblock %}
