{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stats between two dates</h1>
    <p>
        First Import: {{ firstDate }} - {{ firstDate|ago }}
    </p>
    <p>
        Last Import: {{ lastDate }} - {{ lastDate|ago }}
    </p>
    <div {{ stimulus_controller(
        'stat-between',
        {
            url:path('stats_in_between_result'),
            dates:dates,
            lastDate: lastDate,
        }
    ) }}>
        <div class="row">
            <div class="col">Start Date</div>
            <div class="col">End Date</div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" {{ stimulus_target('stat-between', 'startDate') }}>
                <select
                        {{ stimulus_target('stat-between', 'startTime') }}
                        {{ stimulus_action('stat-between', 'timeChanged') }}
                ></select>
            </div>
            <div class="col">
                <input type="text" {{ stimulus_target('stat-between', 'endDate') }}>
                <select
                        {{ stimulus_target('stat-between', 'endTime') }}
                        {{ stimulus_action('stat-between', 'timeChanged') }}
                ></select>
            </div>
        </div>
        <div class="row">
            <div class="col" {{ stimulus_target('stat-between', 'result') }}></div>
        </div>
    </div>

{% endblock %}
