{% extends 'base.html.twig' %}

{% block body %}
    {{ dump(dates) }}
    <div {{ stimulus_controller('stat-between', {url:path('stats_in_between_result')}) }}>
        <div class="row">
            <div class="col"
                    {{ stimulus_controller('stat-date-selector', {item:'start',dates:dates|json_encode|raw}) }}
                 data-action="stat-date-selector:dateChanged->stat-between#dateChanged"
            >
                <select name="year" id="selYear"
                        {{ stimulus_target('stat-date-selector', 'year') }}
                        {{ stimulus_action('stat-date-selector', 'setMonth') }}
                ></select>
                <select name="month" id="selMonth"
                        {{ stimulus_target('stat-date-selector', 'month') }}
                        {{ stimulus_action('stat-date-selector', 'setDay') }}
                ></select>
                <select name="day" id="selDay"
                        {{ stimulus_target('stat-date-selector', 'day') }}
                        {{ stimulus_action('stat-date-selector', 'setTime') }}
                ></select>
                <select name="time" id="selTime"
                        {{ stimulus_target('stat-date-selector', 'time') }}
                        {{ stimulus_action('stat-date-selector', 'dateChanged') }}
                ></select>
            </div>
            <div class="col"
                    {{ stimulus_controller('stat-date-selector', {item:'end',dates:dates|json_encode|raw}) }}
                 data-action="stat-date-selector:dateChanged->stat-between#dateChanged"
            >
                <select name="year" id="selYear"
                        {{ stimulus_target('stat-date-selector', 'year') }}
                        {{ stimulus_action('stat-date-selector', 'setMonth') }}
                ></select>
                <select name="month" id="selMonth" {{ stimulus_target('stat-date-selector', 'month') }}
                        {{ stimulus_action('stat-date-selector', 'setDay') }}
                ></select>
                <select name="day" id="selDay" {{ stimulus_target('stat-date-selector', 'day') }}
                        {{ stimulus_action('stat-date-selector', 'setTime') }}
                ></select>
                <select name="time" id="selTime" {{ stimulus_target('stat-date-selector', 'time') }}
                        {{ stimulus_action('stat-date-selector', 'dateChanged') }}
                ></select>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col"><input type="text" {{ stimulus_target('stat-between', 'newDateStart') }}></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col" {{ stimulus_target('stat-between', 'result') }}></div>
        </div>
    </div>

{% endblock %}

{% block title %}

{% endblock %}

