{% extends 'base.html.twig' %}

{% block title %}Leaderboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('stats-leaderboard') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('stats-leaderboard') }}
{% endblock %}

{% block body %}
    <h1>Leaderboard</h1>

    {% set maxCount = 4 %}

    <div class="row">
        {% for type, entries in board %}
            {% set count = 1 %}
            <div class="col-sm-3 card">
                <div class="card-header">
                    <h5>{{ type|ucfirst }}</h5>
                </div>
                {% for entry in entries %}
                {% if count == maxCount %}
                <div class="btn btn-outline-info btn-sm showAll">{{ 'Show all'|trans }}</div>
                <div style="display: none">
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-7">
                            <span class="badge badge-pill badge-secondary">{{ count }}</span>
                            {% if 'ap' == type %}
                                {% if entry.agent.recursions %}
                                    <span class="medal24-events medal-UniqueBadge_Simulacrum" title="Simulacrum"></span>
                                    {% if entry.agent.recursions > 1 %}
                                        <span class="doubleCount">X {{ entry.agent.recursions }}</span>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% set level = medalLevel(type, entry.value) %}
                                {% if level %}
                                    <span class="medal24-badges medal-{{ getBadgePath(type, level, 0, '') }}"
                                          title="{{ type }} - {{ level|translateMedalLevel }}"></span>
                                    {% set doubleCount = medalDoubleValue(type, entry.value) %}
                                    {% if doubleCount > 1 %}
                                        <span class="doubleCount">X {{ doubleCount }}</span>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <a href="{{ path('agent_stats', {'id': entry.agent.id}) }}">
                                {{ entry.agent.nickname }}
                            </a>
                        </div>
                        <div class="col-sm-5 text-right">
                            {{ entry.value|number_format }}
                        </div>
                    </div>

                    {% set count = count + 1 %}
                    {% endfor %}
                    {% if count > maxCount %}
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
