{% extends 'base.html.twig' %}

{% block title %}Leaderboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('traditional/stats/leaderboard') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('traditional/stats/leaderboard') }}
{% endblock %}

{% block body %}
    <h1>{{ 'Leaderboard'|trans }}</h1>

    {% set maxCount = 4 %}

    <div class="row">
        {% for type, entries in board %}
            {% include 'stats/_stat_entry.html.twig' %}
        {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
