{% extends 'base.html.twig' %}

{% block title %}{{ 'Statistics'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('stats-agent-stats') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('stats-agent-stats') }}
{% endblock %}

{% block body %}
    <span id="js-agent-id" data-js-agent-id="{{ agent.id }}"></span>
    <h1>{{ 'Statistics'|trans }}</h1>
    {{ 'Agent: {agent_name}'|trans({'agent_name': '<code>' ~ agent.nickname ~'</code>'})|raw }}
    {% if latest %}
        <div>
            {{ 'Latest Update: {last_update}'|trans({'last_update': latest.datetime|date('Y-m-d')}) }}
        </div>
        <h4>AP: {{ latest.ap|number_format }}</h4>

        <h3>{{ 'Medals'|trans }}</h3>

        <table class="table-bordered">
            {% for medalGroup in medalGroups %}
                <tr>
                    {% for name, level in medalGroup %}
                        <td class="medal-item" style="width: 100px; text-align: center"
                            title="{{ name ~ ': ' ~ level|translateMedalLevel ~ ' (' ~ latest[name] ~ ')'}}"
                            data-medal-name="{{ name|ucfirst }}"
                            data-medal-desc="{{ name|medalDesc }}"
                            data-medal-level="{{ level }}"
                            data-medal-value="{{ latest[name]|number_format }}"
                            data-medal-value-1="{{ medalValue(name, 1)|number_format }}"
                            data-medal-value-2="{{ medalValue(name, 2)|number_format }}"
                            data-medal-value-3="{{ medalValue(name, 3)|number_format }}"
                            data-medal-value-4="{{ medalValue(name, 4)|number_format }}"
                            data-medal-value-5="{{ medalValue(name, 5)|number_format }}"
                        >
                            <span class="medal-image">
                            {% if level %}
                                <img src="{{ asset('build/images/medals/default-'~level~'.svg') }}" alt="" style="width: 50px;">
{#                                {{ source('@public_path'~asset('build/images/medals/default-'~level~'.svg')) }}#}
                            {% endif %}
                            </span>
{#                            <code>{{ name }}-{{ level }}</code>#}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

        <div id="container" style="width:100%; height:400px;"></div>

    {% else %}
        <div>{{ 'There are no statistics for this agent.'|trans }}</div>
    {% endif %}

    <!-- The Modal -->
    <div class="modal fade text-center" id="medalModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-header-desc">aaa</div>

                <!-- Modal body -->
                <div class="modal-body"></div>
                <div class="medal-value text-center"></div>

                <div class="row">
                    <div class="col medal-value-1"></div>
                    <div class="col medal-value-2"></div>
                    <div class="col medal-value-3"></div>
                </div>
                <div class="row">
                    <div class="col medal-value-4"></div>
                    <div class="col medal-value-5"></div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
