{% extends 'base.html.twig' %}

{% block title %}{{ 'Statistics'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Statistics'|trans }}</h1>
    Agent <code>{{ agent.nickname }}</code>
    {% if entries %}
        <div>Latest Update: {{ latest.datetime|date('Y-m-d') }}</div>
        <h4>AP: {{ latest.ap|number_format }}</h4>

        <h3>{{ 'Medals'|trans }}</h3>

        <table class="table-bordered">
            {% for medalGroup in medalGroups %}
            <tr>
                {% for name, level in medalGroup %}
                    <td style="width: 100px; text-align: center" title="{{ name ~ ': ' ~ level|medalLevel }}">
                        {{ source('@public_path'~asset('build/images/medals/default-'~level~'.svg')) }}
                        <code>{{ name }}-{{ level }}</code>
                        <br>
                        {{ latest[name]|number_format }}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <h2>Stats</h2>
        Entries: {{ entries|length }}

        <h4>Aqui vienen los graficos...</h4>

        <table class="table table-sm">
            <tr>
                <th>Date</th>
                <th>AP</th>
                <th>hacker</th>
                <th>...</th>
            </tr>
            {% for entry in entries %}
                <tr>
                    <td>{{ entry.datetime|date('Y-m-d') }}</td>
                    <td>{{ entry.ap }}</td>
                    <td>{{ entry.hacker }}</td>
                    <td>...</td>
                </tr>
            {% endfor %}

        </table>

    {% else %}
        <div>No stats so far :( - Visit <a href="{{ path('stat_import') }}">Import</a></div>
    {% endif %}
{% endblock %}
