{% extends 'base.html.twig' %}

{% block title %}{{ 'Statistics'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('stats-agent-stats') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('stats-agent-stats') }}
{% endblock %}

{% block body %}
    <span id="js-agent-id" data-js-agent-id="{{ agent.id }}"></span>
    <h1>{{ 'Statistics'|trans }}</h1>
    <p>
        {{ 'Agent: {agent_name}'|trans({'agent_name': '<code>' ~ agent.nickname ~'</code>'})|raw }}
        {% if agent.recursions %}
            <img src="{{ asset('build/images/badges/UniqueBadge_Simulacrum_50.png') }}"
                 title="Simulacrum" alt="Simulacrum">
            {% if agent.recursions > 1 %}
                <span class="doubleCount">X {{ agent.recursions }}</span>
            {% endif %}
        {% endif %}
    </p>
    {% if latest %}
        <p>
            {{ 'Latest Update: {last_update}'|trans({'last_update': latest.datetime|date('Y-m-d')}) }}
        </p>
        <h4>AP: {{ latest.ap|number_format }}</h4>

        {% if agentCustomMedals %}
            {% for group, medals in agentCustomMedals %}
                <div>
                    {% for medal, value in medals %}
                        <span>
                                {% if 'Anomaly' == group %}
                                    <img src="{{ asset('build/images/badges/Anomaly_'~medal~'_50.png') }}"
                                         title="{{ medal }}" alt="{{ medal }}">
                                {% elseif 'Event' == group %}
                                    <img src="{{ asset('build/images/badges/EventBadge_'~medal~'_'~value~'_50.png') }}"
                                         title="{{ medal }}" alt="{{ medal }}">
                                {% else %}
                                    <img src="{{ asset('build/images/badges/'~getBadgePath(medal, value, 50)) }}"
                                         title="{{ medal }}" alt="{{ medal }}">
                                {% endif %}
                            </span>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}

        {% for name, level in medalGroups %}
            <span class="medal-item" style="text-align: center"
                  title="{{ name ~ ': ' ~ level|translateMedalLevel ~ ' (' ~ latest[name] ~ ')' }}"
                  data-medal-name="{{ name|ucfirst }}"
                  data-medal-desc="{{ name|medalDesc }}"
                  data-medal-level="{{ level }}"
                  data-medal-value="{{ latest[name]|number_format }}"
                  data-medal-value-1="{{ medalValue(name, 1)|number_format }}"
                  data-medal-value-2="{{ medalValue(name, 2)|number_format }}"
                  data-medal-value-3="{{ medalValue(name, 3)|number_format }}"
                  data-medal-value-4="{{ medalValue(name, 4)|number_format }}"
                  data-medal-value-5="{{ medalValue(name, 5)|number_format }}"

                  data-badge-name-1="{{ getBadgePath(name, 1, 50) }}"
                  data-badge-name-2="{{ getBadgePath(name, 2, 50) }}"
                  data-badge-name-3="{{ getBadgePath(name, 3, 50) }}"
                  data-badge-name-4="{{ getBadgePath(name, 4, 50) }}"
                  data-badge-name-5="{{ getBadgePath(name, 5, 50) }}"
            >
                            <span class="medal-image">
                            {% if level %}
                                <img src="{{ asset('build/images/badges/'~getBadgePath(name, level, 50)) }}"
                                     alt="{{ name }}">
{#                                {{ source('@public_path'~asset('build/images/medals/default-'~level~'.svg')) }}#}
                                {% set doubleCount = medalDoubleValue(name, latest[name]) %}

                                {% if doubleCount > 1 %}
                                <span class="doubleCount">X {{ doubleCount }}</span>
                            {% endif %}
                            {% else %}
                                <img src="{{ asset('build/images/medals/default-1.svg') }}" alt="" style="width: 50px;">
                            {% endif %}
                            </span>
                        </span>
        {% endfor %}
        <div id="container" style="width:100%; height:400px;"></div>

    {% else %}
        <div>{{ 'There are no statistics for this agent.'|trans }}</div>
    {% endif %}

    <!-- The Modal -->
    <div class="modal fade text-center" id="medalModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-header-desc">aaa</div>

                <div class="modal-body"></div>
                <div class="medal-value text-center"></div>

                <div class="row">
                    <div class="col medal-value-1"></div>
                    <div class="col medal-value-2"></div>
                    <div class="col medal-value-3"></div>
                </div>
                <div class="row">
                    <div class="col medal-value-4"></div>
                    <div class="col medal-value-5"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
