{% import '_/buttons.html.twig' as buttons %}

{{ form_start(form) }}

<div class="row">
    <div class="col-sm">
        {{ form_row(form.email) }}
    </div>
    <div class="col-sm">
    </div>
</div>
<div class="row">
    <div class="col-sm">
        {{ form_row(form.agent) }}
    </div>
    <div class="col-sm">
        {{ form_row(form.roles) }}
    </div>
</div>

{{ form_rest(form) }}

<hr>

{{ buttons.ok(button_label|default('Save'|trans)) }}

{{ form_end(form) }}
