{% extends 'base.html.twig' %}
{% import '_/buttons.html.twig' as buttons %}

{% block title %}{{ 'Edit User'|trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user-edit') }}
{% endblock %}

{% block body %}
    <div class="btn-group float-right" role="group">
        {{ buttons.back(path('user_index')) }}
        <div class="btn btn-outline-info sendMail" data-userid="{{ user.id }}"
             title="{{ 'Send confirmation mail'|trans }}">
            <span class="oi oi-envelope-closed"></span>
        </div>
        {{ include('user/_delete_form.html.twig') }}
    </div>
    <h1>{{ 'Edit User'|trans }}</h1>
    <div class="float-right" id="mailResult"></div>

    {{ include('user/_form.html.twig', {'button_label': 'Update'|trans}) }}

{% endblock %}
