{% extends 'base.html.twig' %}
{% import '_/buttons.html.twig' as buttons %}

{% block title %}{{ 'Edit User'|trans }}{% endblock %}

{% block body %}
    <div {{ stimulus_controller('user-edit', {'sendMailUrl': path('user_send_confirmation_mail', {id:user.id})}) }}>
        <div class="btn-group float-right" role="group">
            {{ buttons.back(path('user_index')) }}
            <button class="btn btn-outline-info"
                    title="{{ 'Send confirmation mail'|trans }}"
                    {{ stimulus_action('user-edit', 'sendMail') }}
            >
                <span class="oi oi-envelope-closed"></span>
            </button>
            {{ include('user/_delete_form.html.twig') }}
        </div>
        <h1>{{ 'Edit User'|trans }}</h1>
        <div class="float-right"
                {{ stimulus_target('user-edit', 'resultContainer') }}
        ></div>
    </div>

    {{ include('user/_form.html.twig', {'button_label': 'Update'|trans}) }}

{% endblock %}
