{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.translations = {
            "searchbar.placeholder": "{{ 'searchbar.placeholder.email'|trans }}",
            "search.result.0": '{{ 'search.result.user.0'|trans }}',
            "search.result.1": '{{ 'search.result.user.1'|trans }}',
            "search.result.other": '{{ 'search.result.user.other'|trans }}',
            "no.search.result.criteria": '{{ 'no.users.found.search.criteria'|trans }}',
            "paginate.previous.page": '{{ 'paginate.previous.page'|trans }}',
            "paginate.next.page": '{{ 'paginate.next.page'|trans }}',
        }
    </script>
    {{ encore_entry_script_tags('vue/users') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('vue/users') }}
{% endblock %}

{% block body %}
    <h1>User index</h1>

    <div id="app"></div>
{% endblock %}
