{% extends 'base.html.twig' %}

{% import '_paginator-elements.html.twig' as paginator %}

{% block title %}User index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('paginator') }}
{% endblock %}

{% block body %}
    <h1>User index</h1>

    <form method="post">
        <div class="row">
            <div class="col-xs-2">{{ paginator.listLimit(paginatorOptions) }}</div>
            <div class="col-xs-10">{{ paginator.pagination(paginatorOptions) }}</div>
        </div>

        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th>{{ paginator.ordering('id', paginatorOptions) }}</th>
                <th>{{ paginator.ordering('agent', paginatorOptions) }}
                    {{ paginator.criteria('email', paginatorOptions) }}</th>
                <th>{{ paginator.ordering('googleId', paginatorOptions) }}</th>
                <th>{{ paginator.ordering('fireBaseToken', paginatorOptions) }}</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>Id</th>
                <th>Agent / e-mail</th>
                <th>G-ID</th>
                <th>FCM</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>
                        <a href="{{ path('user_edit', {'id': user.id}) }}">
                            <b>{{ user.agent?user.agent.nickname:'-' }}</b><br> {{ user.email|stripGmail }}
                        </a>
                    </td>
                    <td>{{ user.googleId ? 'X' : '' }}</td>
                    <td>{{ user.fireBaseToken ? 'X' : '' }}</td>
                    <td>{{ user.roles|displayRoles }}</td>
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}">
                            <span class="oi oi-eye">
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="alert alert-warning">{{ 'No records found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ paginator.formFields(paginatorOptions) }}
    </form>
{% endblock %}
